<!--div class="alert alert-danger" role="alert">NOTE: While scalability upgrades are in progress, Klickrr is currently NOT sending messages.</div-->
<div id="loader">
  <i class="fa fa-spinner fa-spin"></i><span id="loader_text">&nbsp;loading...</span>
</div>
<!--div class="row"-->
<!--div style="padding-top: 80px;"> </div-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--a class="navbar-brand" href="#">Klickrr</a-->
      <a class="navbar-brand" href="#"><%= image_tag "Klickrr logo.png", :height => 25 %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="form-group" style="position: relative; padding-top: 10px;">
            <select name="master_lists_sel" id="master_lists_sel" class="form-control input-sm sel-lists" onChange="ChangeTitle(this)"></select>
          </div>
        </li>
        <li><%= link_to "Tutorials", tutorials_path %></li>
        <!--<li><a href="#" data-toggle="modal" data-target="#mod_tutorials_and_support">Tutorials</a></li>-->
        <li><a href="#" data-toggle="modal" data-target="#mod_tutorials_and_support">Support</a></li>
        <% if user_signed_in? %>
        <li role="presentation" class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle"><%= current_user.email %>&nbsp;<span class="caret"></strong></a>
        <div class="dropdown-menu dropdown-menu-right" style="padding: 15px; padding-bottom: 0px;">
                <!-- Profile editor -->
                <div class="container" style="padding-top: 30px; width: 800px;">
                  <h1 class="page-header">Edit Profile</h1>
                  <div class="row">
                    <!-- edit form column -->
                    <div class="col-md-12 col-sm-12 col-xs-12 personal-info">
                      <!--div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-sitemap"></i>
                        <span class="lead">This feature is in progress and will be available soon after the beta launch.</span>
                      </div-->
                      <h3>Personal info</h3>
                      <%= render "devise/registrations/edit" %>
                      <!-- <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <label class="col-lg-3 control-label">First name:</label>
                          <div class="col-lg-8">
                            <input class="form-control" value="<%= current_user.first_name %>" type="text" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-3 control-label">Last name:</label>
                          <div class="col-lg-8">
                            <input class="form-control" value="<%= current_user.last_name %>" type="text" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-3 control-label">Email:</label>
                          <div class="col-lg-8">
                            <input class="form-control" value="<%= current_user.email %>" type="text">
                          </div>
                        </div>
                        <h3>Change Password</h3>
                        <div class="form-group">
                          <label class="col-md-3 control-label">New Password:</label>
                          <div class="col-md-8">
                            <input class="form-control" type="password" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label">Confirm new assword:</label>
                          <div class="col-md-8">
                            <input class="form-control" type="password" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label"></label>
                          <div class="col-md-8">
                            <input class="btn btn-primary" value="Save Changes" type="button">
                            <span></span>
                            <input class="btn btn-default" value="Cancel" type="reset">
                          </div>
                        </div>
                      </form> -->
                    </div>
                  </div>
                </div>
                <!-- End profile editor -->
              </div>
            </li>
        <% end %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <!--li style="vertical-align: middle; margin-top: 10px;"><i class="fa fa-cog" style="font-size: 2.0em;"></i></li-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="col-md-12">
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="function_tabs">
        <li role="presentation" class="active"><a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li role="presentation"><a href="#services" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-database"></i>
          Services</a></li>
        <li role="presentation"><a href="#lists_list" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-envelope"></i>
          Lists</a></li>
        <li role="presentation"><a href="#broadcast_list" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-bullhorn"></i>
          Broadcast</a></li>
        <li role="presentation"><a href="#followup_list" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-comment"></i>
          Follow Up</a></li>
        <li role="presentation"><a href="#webform_list" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-code"></i>
          Web Form</a></li>
        <li role="presentation"><a href="#analytics" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i>
          Analytics</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <!-- Begin Dashboard tab. -->
        <%= render "partials/dashboard" %>
        <!-- End Dashboard tab. -->

        <!-- Begin Servers tab. -->
        <%= render "partials/service" %>
        <!-- End Servers tab. -->

        <!-- Begin Lists tab. -->
        <%= render "partials/lists_list" %>

        <%= render "partials/list" %>
        <%= render "partials/list_combo" %>
        <!-- End Lists tab. -->

        <!-- Begin Broadcast tab. -->
        <%= render "partials/broadcast_list" %>
        <%= render "partials/broadcast" %>
        <!-- End Broadcast tab. -->

        <!-- Begin Follow up tab. -->
        <%= render "partials/followup_list" %>

        <%= render "partials/followup" %>
        <!-- End Follow up tab. -->

        <!-- Begin Web form tab. -->
        <%= render "partials/webform_list" %>
        <%= render "partials/webform" %>
        <!-- End Web form tab. -->

        <!-- Begin Analytics tab. -->
        <%= render "partials/analytics" %>
        <!-- End Analytics tab. -->
      </div>
    </div>
  </div>
</div>
<!--/div-->

<!-- Begin modals. -->
<%= render "partials/modals" %>
<!-- End modals. -->

<%= hidden_field_tag "uid", current_user.id %>
