<!--h2>Edit <%= resource_name.to_s.humanize %></h2-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

    <div class="form-group">
    <%= f.label :first_name, class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
    </div>
  </div>

    <div class="form-group">
    <%= f.label :last_name, class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <h3>Change Password</h3>
  <div class="form-group">
    <%= f.label :password, class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "(leave blank if you don't want to change it)" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <h3>Save Changes</h3>
  <div class="form-group">
    <%= f.label :current_password, class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "(we need your current password to confirm your changes)" %>
    </div>
  </div>

  <!--div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div-->

  <div class="row">
    <div class="col-lg-4 col-lg-offset-8" style="margin-top: 20px;">
      <%= f.submit "Update", class: "btn btn-primary" %>
      <input class="btn btn-default" value="Cancel" type="reset" style="margin: 0 10px 0 10px;" />
    </div>
  </div>
<% end %>

<!--h3>Cancel my account</h3>

<p>If you no longer have need of your Klickrr account, you may cancel it by clicking the button below.</p>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>-->

<%#= link_to "Back", :back %>
