<style>
  body { background-color: #394754; }
</style>
<div class="container" style="margin-top: 100px;">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= image_tag "Klickrr logo.png", html: {class: "fs-img-response", style: "width: 120px;"} %>
          <div class="fs-panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <!--form id="subscription_form" action="process_subscription" method="post" autocomplete="off"-->
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <div class="panel panel-default ">
                        <div class="panel-heading">Account Information</div>
                        <div class="panel-body">
                          <%#= render "devise/shared/links" %>
                          <div style="margin-bottom: 20px;">
                            <%= devise_error_messages! %>
                            <%= link_to "I already have an account and want to log in.", new_user_session_path %>
                          </div>
                          <div class="form-group">
                            <%= f.label :first_name do %>
                              First Name:<span style="color: #d40000;">*</span>
                            <% end %>
                            <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "Please enter your first name." %>
                          </div>
                          <div class="form-group">
                            <%= f.label :last_name do %>
                              Last Name:<span style="color: #d40000;">*</span>
                            <% end %>
                            <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Please enter your surname." %>
                          </div>
                          <div class="form-group">
                            <%= f.label :email do %>
                              Email:
                              <span style="color: #d40000;">*</span>
                            <% end %>
                            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "MyName@example.com" %>
                          </div>
                          <div class="form-group">
                            <%= f.label :password  do %>
                              Password:<span style="color: #d40000;">*</span>
                            <% end %>
                            <% if @validatable %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %>
                            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Please enter a password." %>
                          </div>
                          <div class="form-group">
                            <%= f.label :password_confirmation do %>
                              Confirm password:<span style="color: #d40000;">*</span>
                            <% end %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Please confirm the password you entered above." %>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">Payment Information</div>
                        <div class="panel-body">
                          <div class = "alert alert-info">We use industry standard security procedures to ensure that your information is safe with us. Your payment details will never be stored on our servers.</div>
                          <div class="form-group">
                            <label id="lbl_card_num" for="card_num">Credit Card Number:<span style="color: #d40000;">*</span></label>
                            <input id="card_num" data-braintree-name="number" class="form-control" type="text" placeholder="1234 5678 9012 3456" />
                          </div>
                          <div class="form-group">
                            <label id="lbl_exp_month" for="exp_month">Expiry Month:<span style="color: #d40000;">*</span></label>
                            <select class="form-control" id="exp_month" data-braintree-name="expiration_month">
                              <option value="01">Jan</option>
                              <option value="02">Feb</option>
                              <option value="03">Mar</option>
                              <option value="04">Apr</option>
                              <option value="05">May</option>
                              <option value="06">Jun</option>
                              <option value="07">Jul</option>
                              <option value="08">Aug</option>
                              <option value="09">Sep</option>
                              <option value="10">Oct</option>
                              <option value="11">Nov</option>
                              <option value="12">Dec</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label id="lbl_exp_year" for="exp_year">Expiry Year:<span style="color: #d40000;">*</span></label>
                            <input id="exp_year" data-braintree-name="expiration_year" class="form-control" type="text" placeholder="2015" />
                          </div>
                          <div class="form-group">
                            <label id="lbl_cvv" for="">CVV (on the back of your card):<span style="color: #d40000;">*</span></label>
                            <input id="cvv" class="form-control" name="cvv" type="text" placeholder="123" />
                          </div>
                          <div class = "alert alert-success">
                            <div class="lead">Klickrr service subscription</div>
                            <p style="text-align: center;"><strong>Monthly</strong> subscription plan.</p>
                            <hr />
                            <p class="lead" style="text-align: center;"><strong>TOTAL: </strong>$27 monthly.</p>
                          </div>
                          <button class="btn btn-primary btn-lg btn-block" name="subscribe_bttn" id="subscribe_bttn"><i class="fa fa-credit-card"></i> Buy Now!</button>
                          <%#= f.submit "Buy Now!", class: "btn btn-primary btn-lg btn-block" do %>
                            <!--i class="fa fa-credit-card"></i> Buy Now! -->
                          <%# end %>
                        </div>
                      </div>
                    <!--/form-->
                    <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>