.row
  .col-md-12
    h4#active_services.incomplete-action
      | Active Services&nbsp;
      a data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="right" data-toggle="popover" href="#" tabindex="-1" title="Transactional mail services" 
        i.fa.fa-info-circle
    .input-group
      input#txt_broadcast_servers.form-control disabled="" name="" type="text" value="" 
      span.input-group-btn
        button#broadcast_edit_servers.btn.btn-info type="button" 
          i.fa.fa-pencil-square-o
          | &nbsp;Edit
.row
  .col-md-12
    .row
      .col-md-12
        h4 When Do You Want to Broadcast?
    .row
      .col-md-12
        button#broadcast_now.btn.btn-info> data-target="#update_broadcast_mod" data-toggle="modal" type="button" 
          i.fa.fa-check-circle
          | &nbsp;Broadcast Now
        small> OR
        button#broadcast_send_later.btn.btn-default type="button" 
          i.fa.fa-clock-o
          | &nbsp;Schedule Broadcast
.row#broadcast_schedule.border-above style="display: none;" 
  .col-md-12
    = render 'partials/timezone_select'
    h4
      label Date and Time
    .form-group
      #broadcast_schedule_datetime.input-group.date
        input#broadcast_send_on.form-control type="text"
        span.input-group-addon
          span.glyphicon.glyphicon-calendar
.row
  .col-md-12
    .border-below.border-above
      | Sending to a total of 
      span.sub-count.sub-count-style 0
      | subscribers.