#broadcast.tab-pane role='tabpanel'
  .row
    .col-md-12
      #message-broadcast-sent.alert.alert-danger.text-center.hidden role="alert" This message has been sent and can no longer be edited.
  .row
    .col-md-1
      h3 Broadcasts
    .col-md-11.text-right
      h3.scheduled-for.hidden
  .row
    .col-md-8
      .row
        .col-md-6
          .panel.panel-default
            .panel-heading
              .panel-title Broadcast to:
            .panel-body
              .row
                .col-md-12
                  .radio-button-lists
        .col-md-6
          .panel.panel-default
            .panel-heading
              .panel-title Broadcast Options
            .panel-body
              = render 'partials/broadcast/broadcast_options'
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              .panel-title Segment Options
            .panel-body
              = render 'partials/broadcast/segment_options'
    .col-md-4
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              .panel-title Your message to
            .panel-body
              = render 'partials/broadcast/message'
      .row
        .col-md-12
          a.btn.col-md-12.btn-primary.btn-lg data-toggle="tab" href="#broadcast_list" role="tab" 
            i.fa.fa-arrow-left
            | &nbsp;Back to Broadcast List
