.row
  .col-md-12
    h4
      label for="broadcast_subj_line"
        | Subject Line&nbsp;
        a data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="right" data-toggle="popover" href="#" tabindex="-1" title="Broadcast subject line"
          i.fa.fa-info-circle
    .input-group
      input.form-control#broadcast_subj_line name="broadcast_subj_line" placeholder="Type your subject here..." type="text"
        span.input-group-btn
          button.btn.btn-info data-target="#mod_bc_split_test" data-toggle="modal"
            span.input-group-btn
            span.input-group-btn
            i.fa.fa-flask
            | &nbsp;Split Test

.row
  .col-md-12
    h4        
      label for="broadcast_message"
        | Main message&nbsp;
        a data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="right" data-toggle="popover" href="#" tabindex="-1" title="Broadcast message body"
          i.fa.fa-info-circle
    #broadcast_field_tokens
    textarea#broadcast_message cols="30" name="broadcast_message" rows="10"

.row
  .col-md-12
    .border-below.border-above
      a data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="right" data-toggle="popover" href="#" tabindex="-1" title="Why are unsubscribe links added to my message?"
        i.fa.fa-info-circle
      | &nbsp;Unsubscribe link will be automatically added to message.

.row
  .col-md-12
    button#broadcast_spam_test_btn.btn.btn-info.btn-sm> data-target="#broadcast_spam_score" data-toggle="modal" type="button"
      i.fa.fa-exclamation-triangle
      | &nbsp;Check Spam
    button.btn.btn-info.btn-sm> data-target="#broadcast_test" data-toggle="modal" type="button" 
      i.fa.fa-envelope
      | &nbsp;Test
    button.btn.btn-info.btn-sm> data-target="#broadcast_load" data-toggle="modal" type="button" 
      i.fa.fa-folder-open
      | &nbsp;Load
    button#save_broadcast_btn.btn.btn-info.save-broadcast.btn-sm> data-target="" data-toggle="modal" name="save_broadcast_btn" type="button" 
      i.fa.fa-floppy-o
      | &nbsp;Save
    button#update_broadcast_btn.btn.btn-info.update-broadcast.btn-sm> data-target="" data-toggle="modal" name="update_broadcast_btn" style="display: none;" type="button" 
      i.fa.fa-floppy-o
      | &nbsp;Update
    button#clear_broadcast_btn.btn.btn-info.btn-sm> name="clear_broadcast_btn" style="display: none;" 
      i.fa.fa-file-o
      | &nbsp;New