<div role="tabpanel" class="tab-pane" id="analytics" style="margin-top: 25px;">
  <div class="row">
    <div class="col-md-12 border-below">
      <h2 style="display: inline-block">Analytics&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Analytics" data-content="Watch what's happening with your messages after you've sent them." tabindex="-1"><i class="fa fa-info-circle"></i></a></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <section class="analytics-sidebar-item" id="analytics_types">
        <button type="button" class="btn btn-lg btn-info analytics-type-btn" id="analytics_bc_btn">Broadcasts&nbsp;<i class="fa fa-circle"></i></button>
        <button type="button" class="btn btn-lg analytics-type-btn" id="analytics_fu_btn">Follow ups&nbsp;<i class="fa fa-circle-o"></i></button>
        <!--<button class="btn btn-lg analytics-type-btn" type="button" id="analytics_wf_btn">Webforms <i class="fa fa-circle-o"></i></button>-->
      </section>
      <!--<select id="analytics_item_sel" class="form-control">-->
        <!--<optgroup label="This is a group">-->
          <!--<option value="12" selected="">This is item 1</option>-->
          <!--<option value="13">This is item 2</option>-->
          <!--<option value="14">This is item 3</option>-->
        <!--</optgroup>-->
      <!--</select>-->
      <!--<section class="analytics-sidebar-item" id="analytics_data_view">-->
        <!--<div class="btn-group btn-group-justified" role="group" aria-label="Analytic Options">-->
          <!--<div class="btn-group" role="group">-->
            <!--<button class="btn btn-default analytics-data-view-btn" type="button">Actions</button>-->
          <!--</div>-->
          <!--<div class="btn-group" role="group">-->
            <!--<button class="btn btn-default active analytics-data-view-btn" type="button">Geography</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</section>-->
      <!--<section id="list_and_filter" class="analytics-sidebar-item">-->
        <!--&lt;!&ndash;<h4>Select Your Sent Message</h4>&ndash;&gt;-->
        <!--<select class="form-control" name="analytics_sort_sel" id="analytics_sort_sel">-->
          <!--<option value="new_to_old">newest to oldest</option>-->
          <!--<option value="old_to_new">oldest to newest</option>-->
          <!--<option value="ctr_high">highest CTR first</option>-->
          <!--<option value="clicks_high">most clicks first</option>-->
          <!--<option value="opens_high">most opens first</option>-->
        <!--</select>-->
      <!--</section>-->



      <section id="analytics_broadcasts" style="display: block;">
        <div style="height: 400px; overflow: scroll;">
          <div class="list-group broadcast-analytics"></div>
        </div>
      </section>
    </div>

    <div class="col-md-9">
      <div id="analitics_subject_line" style="display: inline-block;"></div>

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#geo" aria-controls="home" role="tab" data-toggle="tab">Geography</a></li>
        <li role="presentation"><a href="#actions" aria-controls="profile" role="tab" data-toggle="tab">Actions</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="geo" style="margin-top: 25px;">
          <%= render 'partials/analytics_geo_tab' %>

          <div id="test_pasrts" style="float: right;" hidden>
            <button id="activate_test_a" data-type="a" type="button" class="btn btn-primary">Test A</button>
            <button id="activate_test_b" data-type="b" type="button" class="btn btn-primary">Test B</button>
          </div>
          <div id="geo_analitics_render">
            <% if @values.present? %>

            <% end %>
            <%#= render 'partials/geo_analitics' %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="actions" style="margin-top: 25px;">

        </div>
      </div>
    </div>
  </div>
</div>