<% if @values.present? %>
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <div class="analytic_header centered">Opens</div>
        <div class="centered analytic_data" id="analytics_opens" style="background-color: white;">
          <%= @values[:opens] %>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="analytic_header centered">Clicks</div>
        <div class="centered analytic_data" id="analytics_clicks" style="background-color: lightgray">
          <%= @values[:clicks] %>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="analytic_header centered">CTR</div>
        <div class="centered analytic_data" id="analytics_ctr" style="background-color: white;">
          <%= "#{@values[:ctr]}%" %>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="analytic_header centered">Sent</div>
        <div class="centered analytic_data" id="analytics_sends" style="background-color: lightgray">
          <%= @values[:sends] %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td>Delivered</td>
              <td id="delivered_cell"><%= @values[:delivers] %></td>
            </tr>
            <tr>
              <td>Bounced</td>
              <td id="bounced_cell"><%= @values[:bounces] %></td>
            </tr>
            <tr>
              <td>Dropped</td>
              <td id="dropped_cell"><%= @values[:drops] %></td>
            </tr>
            <tr>
              <td>Unsubscribed</td>
              <td id="unsubscribed_cell"><%= @values[:unsubscribes] %></td>
            </tr>
            <tr>
              <td>Spam</td>
              <td id="spam_cell"><%= @values[:spam] %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row analytics-details-section" id="geography_details_analytics">
      <div class="col-md-7">
        <h1>Countries: <%= @values[:opens_country] %></h1>
        <%= geo_chart @values[:opens_country], width: "500px", height: "350px" %>
      </div>
      <div class="col-md-2">
        <div class="table-responsive">
          <table class="table" id="opens_table">
            <thead>
            <tr>
              <th>Opens</th>
              <th>
              </th>
            </tr>
            <% @values[:opens_country_hash].each do |country, count|
            %>
                <tr>
                  <th><%= country %>
                  </th>
                  <th><%= count %>
                  </th>
                </tr>
            <% end %></thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <table class="table">
          <% @values[:all_clicks_country].each do |link, values|
          %>
              <thead>
              <tr>
                <th colspan="2"><%= link %>
                </th>
                <th>
                </th>
              </tr>
              </thead>
              <tbody>
              <% values.each do |country, count|
              %>
                  <tr>
                    <td><%= country %>
                    </td>
                    <td><%= count %>

                    </td>
                  </tr>
              <% end %></tbody>
          <% end %></table>
      </div>
    </div>
<% end %>