<div id="broadcast_manager">
  <div class="border-below">
    <h2 style="display: inline-block">Broadcasts<%= "::#{@list_title}" if @list_title %> &nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Broadcast list" data-content="A broadcast is a message that will go out to all your chosen contacts in a list." tabindex="-1"><i class="fa fa-info-circle"></i></a></h2>
    <a id="new-broadcast-link" href="#broadcast" aria-controls="settings" role="tab" data-toggle="tab" class="btn btn-primary" style="margin: 21px; right: 15px; position: absolute;"><i class="fa fa-plus"></i> New Broadcast</a>
  </div>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><a href="#" class="broadcast_order" data-field="sent"  data-order-status="<%= order_desc(@order, 'sent') %>">Sent</a>&nbsp;<i class="<%= order_icon_class(@order, 'sent') %>"></i></th>
        <th><a href="#" class="broadcast_order" data-field="push_at"  data-order-status="<%= order_desc(@order, 'push_at') %>">Scheduled</a>&nbsp;<i class="<%= order_icon_class(@order, 'push_at') %>"></i></th>
        <th><a href="#" class="broadcast_order" data-field="updated_at" data-order-status="<%= order_desc(@order, 'updated_at') %>">Last Edit</a>&nbsp;<i class="<%= order_icon_class(@order, 'updated_at') %>"></i></a></th>
        <th><a href="#" class="broadcast_order" data-field="subject"  data-order-status="<%= order_desc(@order, 'subject') %>">Subject Line</a>&nbsp;<i class="<%= order_icon_class(@order, 'subject') %>"></i></th>
        <th>Results</th>
        <th>Webforms</th>
        <th>Spam Test</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @broadcasts.each do |broadcast| %>
        <tr>
          <td><%= broadcast.sent ? broadcast.sent.strftime("%b %d, %Y") : '<i class="fa fa-minus"></i>'.html_safe %></td>
          <td><%= broadcast.push_at ? broadcast.push_at.strftime("%b %d, %Y") : '<i class="fa fa-minus"></i>'.html_safe %></td>
          <td><%= broadcast.updated_at ? broadcast.updated_at.strftime("%b %d, %Y") : '<i class="fa fa-minus"></i>'.html_safe %></td>
          <td><a href="#" class="edit-link" id="edit_broadcast_<%= broadcast.id %>" data-id="<%= broadcast.id %>" data-list-id="<%= broadcast.list_id %>" data-sent=<%= !!broadcast.sent %> data-is-draft=<%= broadcast.is_draft %>><%= broadcast.subject %>&nbsp;<i class="fa fa-cog"></i></a></td>
          <td><a href="#" class="edit-link" id="view_broadcast_analitics_<%= broadcast.id %>" data-id="<%= broadcast.id %>" data-list-id="<%= broadcast.list_id %>">View Analitics</a></td>
          <td><% if broadcast.sent %><a href="#" class="edit-link" id="view_broadcast_webforms_<%= broadcast.id %>" data-id="<%= broadcast.id %>" data-list-id="<%= broadcast.list_id %>">View Webforms</a><% else %><i class="fa fa-minus"></i><% end %></td>
          <td align="center"><a href="#" class="edit-link" id="test_broadcast_<%= broadcast.id %>" data-id="<%= broadcast.id %>" data-list-id="<%= broadcast.list_id %>">TEST</a></td>
          <td align="center"><a href="#" class="edit-link" title="Clone this broadcast." id="clone_broadcast_<%= broadcast.id %>" data-id="<%= broadcast.id %>" data-list-id="<%= broadcast.list_id %>"><i class="fa fa-clone"></i></a></td>
          <td align="center"><% if broadcast.sent %><i class="fa fa-minus" title="Broadcast has been archived and is read-only."></i><% else %><a href="#" class="edit-link" id="delete_broadcast_<%= broadcast.id %>" data-id="<%= broadcast.id %>"><i class="fa fa-trash" title="Delete this broadcast."></i></a><% end %></td>
          <td align="center"><% if broadcast.segments.length > 0 %><i class="fa fa-pie-chart" title="This broadcast has segments."></i><% else %><i class="fa fa-minus"></i><% end %></td>
          <td align="center"><% if broadcast.is_draft %><span style="padding: 3px; background-color: firebrick; color: white;">DRAFT</span><% else %><i class="fa fa-minus"></i><% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
