    <div role="tabpanel" class="tab-pane" id="broadcast">
      <div class="row">
        <div class="col-md-6 border-right">
          <div class="border-below">
            <h2>Create Your Broadcast Message&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Creating a broadcast" data-content="A broadcast is a message that will go out to all your chosen contacts in a list." tabindex="-1"><i class="fa fa-info-circle"></i></a></h2>
          </div>
          <h4><label for="broadcast_subj_line">Subject Line&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Broadcast subject line" data-content="The subject line is the text that describes what's in your email. It's also usually the first thing your leads will see of your message." tabindex="-1"><i class="fa fa-info-circle"></i></a></label></h4>
          <div id="subject_line_broadcast_field_tokens"></div>
          <span class="text-danger" id="bc_subj_required_alert">* You must create a subject line before this broadcast can be sent.</span>
          <span id="split_test_ind" hidden>A|B</span>
          <div class="input-group" style="display: inline-flex; width: 78%;">
            <input type="text" name="broadcast_subj_line" id="broadcast_subj_line" class="form-control" placeholder="Type your subject here..." />
            <span class="input-group-btn">
              <button class="btn btn-info" data-toggle="modal" data-target="#mod_bc_split_test"><i class="fa fa-flask"></i>&nbsp;Split Test</button>
            </span>
          </div>
          <h4><label for="broadcast_message">Main message&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Broadcast message body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." tabindex="-1"><i class="fa fa-info-circle"></i></a></label></h4>
          <div id="broadcast_field_tokens"></div>
          <span id="main_message_is_empty" class="text-danger">* You must create a main message before this broadcast can be sent.</span>
          <textarea name="broadcast_message" id="broadcast_message" cols="30" rows="10"></textarea>
          <div class="alert alert-info" role="alert"><a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Why are unsubscribe links added to my message?" data-content="This is the main content of your broadcast." tabindex="-1"><i class="fa fa-info-circle"></i></a>&nbsp;Unsubscribe link will be automatically added to message.</div>
          <button class="btn btn-info" type="button" data-toggle="modal" data-target="#broadcast_spam_score" id="broadcast_spam_test_btn"><i class="fa fa-exclamation-triangle"></i>&nbsp;Check Spam</button>
          <button class="btn btn-info" type="button" data-toggle="modal" data-target="#broadcast_test"><i class="fa fa-envelope"></i>&nbsp;Test</button>
          <button class="btn btn-info" type="button" id="clear_editing_broadcast" hidden><i class="fa fa-eraser"></i>&nbsp;Clear</button>
          <!--<button class="btn btn-info" type="button" data-toggle="modal" data-target="#broadcast_load"><i class="fa fa-folder-open-o"></i>&nbsp;Load</button>-->
          <!--<button class="btn btn-info save-broadcast" type="button" data-toggle="modal" data-target="" id="save_broadcast_btn" name="save_broadcast_btn"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>-->
          <!--<button class="btn btn-info update-broadcast" type="button" data-toggle="modal" data-target="" id="update_broadcast_btn" name="update_broadcast_btn" style="display: none;"><i class="fa fa-floppy-o"></i>&nbsp;Update</button>-->
          <button class="btn btn-info" id="clear_broadcast_btn" name="clear_broadcast_btn" style="display: none;"><i class="fa fa-file-o"></i>&nbsp;New</button>
        </div>
        <div class="col-md-6">
          <div class="border-below">
            <h2>Broadcast Options&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Broadcast options" data-content="Options for your broadcast." tabindex="-1"><i class="fa fa-info-circle"></i></a></h2>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4><label for="">Select A List</label>&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="My lists" data-content="Choose the list you want to send your message to." tabindex="-1"><i class="fa fa-info-circle"></i></a></h4>
              <div class="input-group">
            <select name="sel_broadcast_lists" id="sel_broadcast_lists" class="form-control sel-lists">
              <option>Select a contact list...</option>
            </select>
            <span class="input-group-btn">
              <button type="button" id="add_list" class="btn btn-info"><i class="fa fa-plus-circle"></i>&nbsp;Add List</button></h4>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <h4><label for="">Manage Segments</label>&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="List segmentation" data-content="Segments are a way for you to send your message to just a part of your list instead of the whole thing." tabindex="-1"><i class="fa fa-info-circle"></i></a></h4>
          <i class="fa fa-check bc-has-segments-icon" style="color: firebrick; margin-top: 10px; display: none;"></i>&nbsp;<button type="button" class="btn btn-default pull-right" id="show_segments_modal_btn" data-toggle="modal" data-target="#list_segments_modal" disabled="disabled"><span class="fa fa-pie-chart"></span>&nbsp;&nbsp;Manage Broadcast Segments&nbsp;</button>


          <!--<button class="btn btn-default pull-right" id="manage_segments_btn"><span class="fa fa-pie-chart"></span>&nbsp;&nbsp;Manage Broadcast Segments&nbsp;</button>-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="selection_switch" style="display: none;">
          <input id="use_past_selection_switch" class="switch" type="checkbox" data-on-text="Past selection" data-off-text="Common selection" style="display: none;" />
        </div>
      </div>
      <div class="row active-segments-tbl" style="display: none;">
        <div class="col-md-12">
          <h4>Active Segments</h4>
          <table id="active_segments_tbl" class="table table-striped"></table>
        </div>
      </div>
      <div class="row border-above">
        <h4 id="active_services" class="incomplete-action">Active Services&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Transactional mail services" data-content="Choose which email services you want to use." tabindex="-1"><i class="fa fa-info-circle"></i></a></h4>
        <span id="active_services_is_empty" style="color: firebrick;">* You must activate at least one email service for this list.</span>
        <div class="input-group">
          <input type="text" name="" id="txt_broadcast_servers" class="form-control" value="" disabled />
          <span class="input-group-btn">
            <button type="button" class="btn btn-info" id="broadcast_edit_servers" disabled><i class="fa fa-pencil-square-o"></i>&nbsp;<%= t '.edit_list_services' %></button>
          </span>
        </div>
      </div>
      <div class="row border-above schedule-info">
        <h4>When Do You Want to Broadcast?</h4>
        <!--<button type="button" class="btn btn-info" id="broadcast_now" data-toggle="modal" data-target="#update_broadcast_mod" disabled><i class="fa fa-check-circle"></i>&nbsp;Broadcast Now</button>&nbsp;<small>OR</small>&nbsp;-->
        <button type="button" class="btn btn-default" id="broadcast_send_later"><i class="fa fa-clock-o"></i>&nbsp;Schedule Broadcast</button>
        <span class='scheduled-date'>Send at 12:40 PM on 3/11/2016 GMT+1</span>
        <div type="button" class="close">&times;</div>
      </div>
      <div class="row border-above" style="display: none;" id="broadcast_schedule">
        <div class="col-md-12">
          <button type="button" class="close">&times;</button>
          <h4><label for="">Select Timezone</label></h4>
          <select class="form-control" id="scheduled_broadcast_timezone">
            <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</option>
            <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</option>
            <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</option>
            <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</option>
            <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
            <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</option>
            <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</option>
            <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
            <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
            <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</option>
            <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</option>
            <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
            <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</option>
            <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
            <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
            <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</option>
            <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
            <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</option>
            <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</option>
            <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</option>
            <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</option>
            <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</option>
            <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
            <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</option>
            <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</option>
            <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</option>
            <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</option>
            <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</option>
            <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
            <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0" selected>(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
            <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
            <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
            <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
            <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
            <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</option>
            <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</option>
            <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
            <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</option>
            <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</option>
            <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</option>
            <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
            <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</option>
            <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</option>
            <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</option>
            <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
            <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
            <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</option>
            <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</option>
            <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</option>
            <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
            <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</option>
            <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</option>
            <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</option>
            <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</option>
            <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
            <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
            <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
            <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</option>
            <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</option>
            <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</option>
            <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
            <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
            <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</option>
            <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
            <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
            <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
            <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</option>
            <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</option>
            <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
            <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</option>
            <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</option>
            <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</option>
            <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</option>
            <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</option>
            <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
            <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</option>
            <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</option>
            <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</option>
            <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
            <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</option>
            <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
            <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</option>
          </select>

          <h4><label for="">Date and Time</label></h4>
          <div class="form-group">
            <div class='input-group date' id='broadcast_schedule_datetime'>
              <input type='text' class="form-control" id="broadcast_send_on" />
              <span class="input-group-addon"><span class="fa fa-calendar"></span>
            </span>
          </div>
          <input type='hidden' id='broadcast_is_draft' value='false' />
        </div>
      </div>
    </div>
    <div class="row border-above border-below">
      Sending to a total of <span class="sub-count sub-count-style">0</span> subscribers.
      <!--Sending to a total of <span style="background-color: silver; padding: 10px; border: 1px solid darkgray;" class="subCount">1435</span> subscribers.-->
    </div>
    <div class="row pull-right" id="bc_activity_div">
      <a href="#broadcast_list" class="btn btn-primary btn-lg btn-back-to-list" role="tab" data-toggle="tab"><i class="fa fa-arrow-left"></i>&nbsp;Back to Broadcast List</a>
      <button type="button" class="btn btn-warning btn-lg save-broadcast-as-draft" id="broadcast_save_as_draft_btn" data-toggle="modal" data-target="#broadcast_save_as_draft_modal"><i class="fa fa-floppy-o"></i>&nbsp;Save As Draft</button>
      <button type="button" class="btn btn-warning btn-lg save-broadcast" id="send_broadcast_btn" disabled="true"><i class="fa fa-paper-plane"></i>&nbsp;Send Now</button>
      <button type="button" class="btn btn-warning btn-lg save-broadcast" id="save_as_new_and_send_broadcast_btn" disabled="true"><i class="fa fa-paper-plane"></i>&nbsp;Save as new & Send Now</button>
      <button type="button" class="btn btn-warning btn-lg update-broadcast" id="broadcast_update_draft_btn"><i class="fa fa-floppy-o"></i>&nbsp;Save as draft</button>
      <button type="button" class="btn btn-warning btn-lg update-broadcast"  data-toggle="modal" data-target="#update_broadcast_mod" style="display: none;"><i class="fa fa-paper-plane"></i>&nbsp;Update & Send Now</button>
      <button type="button" class="btn btn-warning btn-lg" id="queue_broadcast_btn" style="display: none;" data-toggle="modal" data-target="#queue_broadcast_send"><i class="fa fa-paper-plane"></i>&nbsp;Queue for Sending</button>
    </div>
  </div>
</div>
</div>
