    <div role="tabpanel" class="tab-pane" id="broadcast_list">
      <div class="row">
        <div class="col-md-12">
          <%= render "partials/broadcast_manager" %>

          <div id="broadcast_page" style="display: inline-block;"></div>

          <ul id="broadcast_page_size" class="pagination" style="position: absolute; right: 17px;">
            <% @page_sizes.each do |page_size| %>
              <li class="<%= 'active' if @page_size == page_size %>"><a href="#" data-page-size="<%= page_size %>"><%= page_size %></a></li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
