- @list.list_fields.each do |field|
  br
  label[ for=field.label ] = field.label
  |&nbsp;&nbsp;
  span style='color: darkred;' = '*'
  br
  input class='form-control' type=field.field_type data-id=field.id required=field.required data-email=field.is_email 
