<div role="tabpanel" class="tab-pane active" id="dashboard">
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div style="background-color: white; height: 100px;">
            <div class="welcome-triangle">
              <i class="fa fa-play" style="color: white; font-size: 30pt;"></i></div>
            <div class="welcome-message">
              <h2>Welcome to Klickrr!</h2>
              <p>Click here to watch our 'Quick Start' video.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>What do you want to do today?</h3>
          <hr>
          <div class="row equal">
            <div class="col-md-6">
              <div class="panel panel-default" style="height: 100%:">
                <div class="panel-body">
                  <h4>Services</h4>
                  <hr>
                  <p><i class="fa fa-info-circle pull-left" style="color: lightgrey; font-size: 20pt;"></i>Connect Klickrr to your email services so you can start sending messages through the system.</p>
                  <hr>
                  <button class="btn btn-primary pull-right launch-services" type="button">Connect</button>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default" style="height: 100%;">
                <div class="panel-body">
                  <h4>Lists</h4>
                  <hr>
                  <p><i class="fa fa-info-circle pull-left" style="color: lightgrey; font-size: 20pt;"></i>Create an email list and upload your existing leads into the system.</p>
                  <hr>
                  <button class="btn btn-primary pull-right launch-lists" type="button">Create</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4>Broadcasts</h4>
                  <hr>
                  <p><i class="fa fa-info-circle pull-left" style="color: lightgrey; font-size: 20pt;"></i>Craft an email to be sent out to your lists now or scheduled for later.</p>
                  <hr>
                  <button class="btn btn-primary pull-right launch-broadcasts" type="button">Create</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4>Follow ups</h4>
                  <hr>
                  <p><i class="fa fa-info-circle pull-left" style="color: lightgrey; font-size: 20pt;"></i>Craft a sequence of emails that can be sent out automatically after someone joins your list.</p>
                  <hr>
                  <button class="btn btn-primary pull-right launch-follow-ups" type="button">Create</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4>Forms</h4>
                  <hr>
                  <p><i class="fa fa-info-circle pull-left" style="color: lightgrey; font-size: 20pt;"></i>Create and customize a sign up form to capture new leads for your lists.</p>
                  <hr>
                  <button class="btn btn-primary pull-right launch-webforms" type="button">Create</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4>Analytics</h4>
                  <hr>
                  <p><i class="fa fa-info-circle pull-left" style="color: lightgrey; font-size: 20pt;"></i>Check the opens, clicks, sign ups and more of our email marketing efforts.</p>
                  <hr>
                  <button class="btn btn-primary pull-right launch-analytics" type="button">See Data</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>Analytics Overview</h3>
                  <hr>
                  <div>
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#today" role="tab" data-toggle="tab">Today</a></li>
                      <li><a href="#7days" role="tab" data-toggle="tab">7 Days</a></li>
                      <li><a href="#30days" role="tab" data-toggle="tab">30 Days</a></li>
                      <li><a href="#90days" role="tab" data-toggle="tab">90 Days</a></li>
                      <li><a href="#year" role="tab" data-toggle="tab">Year</a></li>
                      <li><a href="#alltime" role="tab" data-toggle="tab">All Time</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" role="tabpanel" id="today" style="margin-top: 15px;">
                        <div class="col-md-8">
                          <div class="dashboard-analytics-container">
                            <table class="dashboard-analytics-inline">
                              <tr>
                                <td class="dashboard-analytics-inline-label">Total Leads</td>
                                <td class="dashboard-analytics-inline-data today-total-leads"><%= number_with_delimiter(@lead_stats["total_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">New Leads</td>
                                <td class="dashboard-analytics-inline-data today-new-leads"><%= number_with_delimiter(@lead_stats["today"]["new_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">Unsubscribes</td>
                                <td class="dashboard-analytics-inline-data today-unsubscribes"><%= number_with_delimiter(@lead_stats["today"]["unsubscribes"]) %></td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="dashboard-analytics-container">
                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Opens</div>
                              <div class="dashboard-analytics-box-data today-opens"><%= number_with_delimiter(@lead_stats["today"]["opens"]) %></div>
                            </div>

                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Clicks</div>
                              <div class="dashboard-analytics-box-data today-clicks"><%= number_with_delimiter(@lead_stats["today"]["clicks"]) %></div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" role="tabpanel" id="7days" style="margin-top: 15px;">
                        <div class="col-md-8">
                          <div class="dashboard-analytics-container">
                            <table class="dashboard-analytics-inline">
                              <tr>
                                <td class="dashboard-analytics-inline-label">Total Leads</td>
                                <td class="dashboard-analytics-inline-data 7days-total-leads"><%= number_with_delimiter(@lead_stats["total_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">New Leads</td>
                                <td class="dashboard-analytics-inline-data 7days-new-leads"><%= number_with_delimiter(@lead_stats["7days"]["new_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">Unsubscribes</td>
                                <td class="dashboard-analytics-inline-data 7days-unsubscribes"><%= number_with_delimiter(@lead_stats["7days"]["unsubscribes"]) %></td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="dashboard-analytics-container">
                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Opens</div>
                              <div class="dashboard-analytics-box-data 7days-opens"><%= number_with_delimiter(@lead_stats["7days"]["opens"]) %></div>
                            </div>

                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Clicks</div>
                              <div class="dashboard-analytics-box-data 7days-clicks"><%= number_with_delimiter(@lead_stats["7days"]["clicks"]) %></div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" role="tabpanel" id="30days" style="margin-top: 15px;">
                        <div class="col-md-8">
                          <div class="dashboard-analytics-container">
                            <table class="dashboard-analytics-inline">
                              <tr>
                                <td class="dashboard-analytics-inline-label">Total Leads</td>
                                <td class="dashboard-analytics-inline-data 30days-total-leads"><%= number_with_delimiter(@lead_stats["total_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">New Leads</td>
                                <td class="dashboard-analytics-inline-data 30days-new-leads"><%= number_with_delimiter(@lead_stats["30days"]["new_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">Unsubscribes</td>
                                <td class="dashboard-analytics-inline-data 30days-unsubscribes"><%= number_with_delimiter(@lead_stats["30days"]["unsubscribes"]) %></td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="dashboard-analytics-container">
                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Opens</div>
                              <div class="dashboard-analytics-box-data 30days-opens"><%= number_with_delimiter(@lead_stats["30days"]["opens"]) %></div>
                            </div>

                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Clicks</div>
                              <div class="dashboard-analytics-box-data 30days-clicks"><%= number_with_delimiter(@lead_stats["30days"]["clicks"]) %></div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" role="tabpanel" id="90days" style="margin-top: 15px;">
                        <div class="col-md-8">
                          <div class="dashboard-analytics-container">
                            <table class="dashboard-analytics-inline">
                              <tr>
                                <td class="dashboard-analytics-inline-label">Total Leads</td>
                                <td class="dashboard-analytics-inline-data 90days-total-leads"><%= number_with_delimiter(@lead_stats["total_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">New Leads</td>
                                <td class="dashboard-analytics-inline-data 90days-new-leads"><%= number_with_delimiter(@lead_stats["90days"]["new_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">Unsubscribes</td>
                                <td class="dashboard-analytics-inline-data 90days-unsubscribes"><%= number_with_delimiter(@lead_stats["90days"]["unsubscribes"]) %></td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="dashboard-analytics-container">
                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Opens</div>
                              <div class="dashboard-analytics-box-data 90days-opens"><%= number_with_delimiter(@lead_stats["90days"]["opens"]) %></div>
                            </div>

                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Clicks</div>
                              <div class="dashboard-analytics-box-data 90days-clicks"><%= number_with_delimiter(@lead_stats["90days"]["clicks"]) %></div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" role="tabpanel" id="year" style="margin-top: 15px;">
                        <div class="col-md-8">
                          <div class="dashboard-analytics-container">
                            <table class="dashboard-analytics-inline">
                              <tr>
                                <td class="dashboard-analytics-inline-label">Total Leads</td>
                                <td class="dashboard-analytics-inline-data year-total-leads"><%= number_with_delimiter(@lead_stats["total_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">New Leads</td>
                                <td class="dashboard-analytics-inline-data year-new-leads"><%= number_with_delimiter(@lead_stats["year"]["new_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">Unsubscribes</td>
                                <td class="dashboard-analytics-inline-data year-unsubscribes"><%= number_with_delimiter(@lead_stats["year"]["unsubscribes"]) %></td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="dashboard-analytics-container">
                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Opens</div>
                              <div class="dashboard-analytics-box-data year-opens"><%= number_with_delimiter(@lead_stats["year"]["opens"]) %></div>
                            </div>

                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Clicks</div>
                              <div class="dashboard-analytics-box-data year-clicks"><%= number_with_delimiter(@lead_stats["year"]["clicks"]) %></div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" role="tabpanel" id="alltime" style="margin-top: 15px;">
                        <div class="col-md-8">
                          <div class="dashboard-analytics-container">
                            <table class="dashboard-analytics-inline">
                              <tr>
                                <td class="dashboard-analytics-inline-label">Total Leads</td>
                                <td class="dashboard-analytics-inline-data alltimes-total-leads"><%= number_with_delimiter(@lead_stats["total_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">New Leads</td>
                                <td class="dashboard-analytics-inline-data alltime-new-leads"><%= number_with_delimiter(@lead_stats["alltime"]["new_leads"]) %></td>
                              </tr>
                              <tr>
                                <td class="dashboard-analytics-inline-label">Unsubscribes</td>
                                <td class="dashboard-analytics-inline-data alltimes-unsubscribes"><%= number_with_delimiter(@lead_stats["alltime"]["unsubscribes"]) %></td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="dashboard-analytics-container">
                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Opens</div>
                              <div class="dashboard-analytics-box-data alltimes-opens"><%= number_with_delimiter(@lead_stats["alltime"]["opens"]) %></div>
                            </div>

                            <div class="dashboard-analytics-box">
                              <div class="dashboard-analytics-box-label">Clicks</div>
                              <div class="dashboard-analytics-box-data alltimes-clicks"><%= number_with_delimiter(@lead_stats["alltime"]["clicks"]) %></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12" style="margin-top: 25px;">
                      <button class="btn btn-primary pull-right launch-analytics" type="button">See More</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>Email Overview</h3>
                  <hr>
                  <div>
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Scheduled </a></li>
                      <li><a href="#tab-2" role="tab" data-toggle="tab">History </a></li>
                      <li><a href="#tab-3" role="tab" data-toggle="tab">Follow ups</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div class="list-group" id="sched_broadcasts">
                          <!-- Scheduled broadcasts for selected list. -->
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <button class="btn btn-primary pull-right launch-broadcasts" type="button">See More</button>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div class="list-group broadcast-history" id="hist_broadcasts">
                          <!-- Previous broadcasts for selected list. -->
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <button class="btn btn-primary pull-right launch-broadcasts" type="button">See More</button>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" role="tabpanel" id="tab-3">
                        <div class="list-group" id="dash_followups_list">
                          <!-- Follow ups list -->
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <button class="btn btn-primary pull-right launch-follow-ups" type="button">See More</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>