<div id="followup_manager">
  <div class="border-below">
    <h2 style="display: inline-block">Follow ups<%= "::#{@list_title}" if @list_title %> &nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Follow up list" data-content="Follow ups are single or groups of messages sent in response to actions by your customers like opening an email or clicking a link." tabindex="-1"><i class="fa fa-info-circle"></i></a></h2>
    <a href="#follow_up" aria-controls="settings" role="tab" data-toggle="tab" class="btn btn-primary" style="margin: 21px; right: 15px; position: absolute;"><i class="fa fa-plus"></i> New Followup</a>
  </div>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <%= followup_sortable_th(field: 'followup_scopes.label', text: 'Follow up on') %>
        <%= followup_sortable_th(field: 'created_at', text: 'Created') %>
        <%= followup_sortable_th(field: 'updated_at', text: 'Last Edit') %>
        <%= followup_sortable_th(field: 'followup_triggers.descr', text: 'Trigger') %>
        <%= followup_sortable_th(field: 'followup_message_parts.subject', text: 'Subject Line') %>
        <th>Spam Test</th>
        <%= followup_sortable_th(field: 'active', text: 'State') %>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @followups.each do |followup| %>
        <tr data-followup-id="<%= followup.id %>">
          <td><%= followup.scope.try(:label) %></td>
          <td><%= followup.created_at ? followup.created_at.strftime("%b %d, %Y") : '-' %></td>
          <td><%= followup.updated_at ? followup.updated_at.strftime("%b %d, %Y") : '-' %></td>
          <td><%= followup.trigger_description %></td>
          <td><a href="#" class="edit-followup edit-link" data-id="<%= followup.id %>" data-list-id="<%= followup.list_id %>"><%= followup.followup_message_parts.first.try(:subject) || followup.subject || 'without subject line'%>&nbsp;<i class="fa fa-cog"></i></a></td>
          <td><a href="#" class="edit-link" id="test_followup_<%= followup.id %>" data-id="<%= followup.id %>" data-list-id="<%= followup.list_id %>" data-message-type="<%= followup.type.try(:name) || 'one_time_msg' %>">TEST</a></td>
          <td align="center"><a href="#" class="edit-link" data-id="<%= followup.id %>" data-active="<%= followup.active %>" title="Turn this follow up on or off." class="toggle-followup-state-link"><% if followup.active? %><i class="fa fa-toggle-on"></i><% else %><i class="fa fa-toggle-off"></i><% end %></a></td>
          <td align="center"><a href="#" class="edit-link" title="Clone this follow up." id="clone_followup_<%= followup.id %>" data-id="<%= followup.id %>" data-list-id="<%= followup.list_id %>"><i class="fa fa-clone"></i></a></td>
          <td align="center"><a href="#" data-toggle="modal" data-target="#delete_followup_modal" data-id="<%= followup.id %>" title="Delete this follow up." class="delete-followup-link edit-link"><i class="fa fa-trash"></i></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
