<div role="tabpanel" class="tab-pane" id="follow_up">
  <span class="pull-right">
    <input id="active_followup_switch" type="checkbox" data-on-text=" Active " data-off-text=" Inactive " />
  </span>
  <h2>Follow ups</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Follow up on:</h3>
            </div>
            <div class="panel-body">
              <ul class="followup-scope">
                <% @followup_scopes.each_with_index do |scope, idx| %>
                    <li class="radio">
                      <input type="radio" name="followup_scope" id="<%= scope.name %>_followup" data-scope-id="<%= scope.id %>"<% if idx === 0 %> checked<% end %> disabled>&nbsp;&nbsp;<%= scope.label %>
                      <br/>

                      <select name="<%= scope.name %>_sel" id="<%= scope.name %>_sel" class="form-control <%= scope.name %>-title-select scope-select" disabled>
                      <option value=""></option>
                      </select>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-3">-->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default" id="followup_action">
            <div class="panel-heading">
              <h3 class="panel-title">When this happens:</h3>
            </div>
            <div class="panel-body">
              <small id="trigger_warning" style="color: red;">* There are values that need to be set on this trigger.</small>
              <ul class="triggers" style="padding-left: 0;">
                <% @followup_scopes[0].followup_triggers.order(id: :desc).each_with_index do |trigger, idx| %>
                  <%
                     desc = "<input type=\"radio\" name=\"followup_trigger\" data-trigger-id=\"#{trigger.id}\" id=\"trigger_#{trigger.id}\" disabled #{"checked " if idx === 0}/>&nbsp;#{trigger.descr}"
                     desc = desc.gsub("{{x}}", "<input type=\"text\" name=\"trigger_var_#{trigger.id}\" class=\"trigger-value view\ x\" />")
                     desc = desc.gsub("{{y}}", "<input type=\"text\" name=\"trigger_var_#{trigger.id}\" class=\"trigger-value view\ y\" />")
                  %>
                  <li class="radio" data-id="<%= trigger.id %>"><%= raw(desc) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="panel panel-default" id="followup_type">
          <div class="panel-heading">
            <h3 class="panel-title">I want to send:</h3>
          </div>

          <div class="panel-body">
            <% @followup_types.each do |followup_type| %>
                <div class="followup-type followup-type-disabled<%=  " multi-message" if followup_type.multipart == true %>" id="<%= followup_type.name %>">
                  <%= raw followup_type.desc_html %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title incomplete-action" id="followup_active_services">Active Services&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Transactional mail services" data-content="Which services are set for the list you are currently viewing." tabindex="-1"><i class="fa fa-info-circle"></i></a></h3>
            </div>
            <div class="panel-body">
              <div class="input-group">
                <input type="text" name="" id="txt_followup_servers" class="form-control" value="" disabled />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-info" id="followup_edit_servers"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default" id="followup_message_details">
            <div class="panel-heading">
              <h3 class="panel-title">Your Message(s)</h3>
            </div>
            <div class="panel-body">
              <div class="row" id="followup_parts">
                <div class="col-md-12">
                  <div id="message_part_warning" style="display: none;"><small style="color: red;">* This field requires an integer, and cannot be blank.</small></div>
                  <h4>There are <input type="text" name="" id="message_part_count" value="5" style="width: 25px; background-color: #eeeeee;" class="followup-message-detail" /> parts to this follow up.</h4>
                  <div id="message_part_icons">
                    <div style="float: left;" class="followup-type-icon followup-icon-container active-followup-icon"><div class="followup-type-icon followup-icon followup-inner-border"><i class="fa fa-envelope followup-icon"></i></div></div>

                    <div style="clear: both;"></div>
                  </div>
                </div>
              </div>
              <div class="row" id ="delay_before_send">
                <div class="col-md-12">
                  <div id="message_delay_warning" style="display: none;"><small style="color: red;">* This field requires an integer, and cannot be blank.</small></div>
                  <h4>Send <input type="text" name="message_part_delay" id="message_part_delay" value="2" style="width: 25px; background-color: #eeeeee;" class="followup-message-detail" /> day(s) after the previous message.</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>Create Your Message</h3>
                  <div class="form-inline" style="margin-bottom: 15px;">
                    <div class="form-group">
                      <label for="fu_subject_line">Subject line:&nbsp;</label>
                      <input type="text" class="form-control" style="width: 400px;" id="fu_subject_line" placeholder="Subject line of your email" class="followup-message-detail" disabled />
                    </div>
                  </div>
                  <textarea id="followup_message" disabled></textarea>
                </div>
              </div>
              <div class="row col-md-12">
                <a href="#followup_list" class="btn btn-primary btn-lg" role="tab" data-toggle="tab"><i class="fa fa-arrow-left"></i>&nbsp;Back to Follow Up List</a>
                <div class="alert alert-info" role="alert"><a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Why are unsubscribe links added to my message?" data-content="In accordance to the ICANN-SPAM act, 'unsubscribe' links must be present in every message sent." tabindex="-1"><i class="fa fa-info-circle"></i></a>&nbsp;Unsubscribe link will be automatically added to message.</div>
                <button disabled class="btn btn-info btn-followup-ops" type="button" data-toggle="modal" data-target="#followup_spam_score_modal" id="followup_spam_test_btn"><i class="fa fa-exclamation-triangle"></i>&nbsp;Check Spam</button>
                <!--button disabled class="btn btn-info btn-followup-ops" type="button" data-toggle="modal" data-target="#followup_test_modal"><i class="fa fa-envelope"></i>&nbsp;Test</button-->
                <!--<button disabled class="btn btn-info btn-followup-ops" type="button" data-toggle="modal" data-target="#followup_load"><i class="fa fa-folder-open-o"></i>&nbsp;Load</button>-->
                <button disabled class="btn btn-info btn-followup-ops save-followup" type="button" data-toggle="modal" data-target="" id="save_followup_btn" name="save_followup_btn"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                <button disabled class="btn btn-info btn-followup-ops save-followup" type="button" data-toggle="modal" data-target="" id="save_as_followup_btn" name="save_as_followup_btn" style="display: none;"><i class="fa fa-floppy-o"></i>&nbsp;Save As...</button>
                <button disabled class="btn btn-info btn-followup-ops update-followup" type="button" data-toggle="modal" data-target="" id="update_followup_btn" name="update_followup_btn" style="display: none;"><i class="fa fa-floppy-o"></i>&nbsp;Update</button>
                <button disabled class="btn btn-info btn-followup-ops" id="clear_followup_btn" name="clear_followup_btn" style="display: none;"><i class="fa fa-file-o"></i>&nbsp;New</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
