- if @values.present?
  .col-md-9
    .row
      .col-md-2.col-sm-2
        .analytic_header.centered Opens
        #analytics_opens.centered.analytic_data style=("background-color: white;") = @values[:opens] 
      .col-md-2.col-sm-2
        .analytic_header.centered Clicks
        #analytics_clicks.centered.analytic_data style=("background-color: lightgray") = @values[:clicks]
      .col-md-2.col-sm-2
        .analytic_header.centered CTR
        #analytics_ctr.centered.analytic_data style=("background-color: white;") = "#{@values[:ctr]}%"
      .col-md-2.col-sm-2
        .analytic_header.centered Sent
        #analytics_sends.centered.analytic_data style=("background-color: lightgray") = @values[:sends] 
      .col-md-4
        .table-responsive
          table.table
            tbody
              tr
                td Delivered
                td#delivered_cell = @values[:delivers]
              tr
                td Bounced
                td#bounced_cell = @values[:bounces] 
              tr
                td Dropped
                td#dropped_cell = @values[:drops]
              tr
                td Unsubscribed
                td#unsubscribed_cell = @values[:unsubscribes]
              tr
                td Spam
                td#spam_cell = @values[:spam]
    #geography_details_analytics.row.analytics-details-section
      .col-md-7
        = geo_chart @values[:opens_country], width: "350px"
      .col-md-2
        .table-responsive
          table#opens_table.table
            thead
              tr
                th Opens
                th
              - @values[:opens_country_hash].each do |country, count|
                tr
                  th = country
                  th = count  
            tbody
      .col-md-3
        table.table
          - @values[:all_clicks_country].each do |link, values|
            thead
              tr
                th[colspan="2"] = link 
                th
            tbody
              - values.each do |country, count|
                tr
                  td = country
                  td = count

    #activity_details_analytics.row.analytics-details-section style=("display: none;") 
      .col-md-12
        = line_chart @values[:graph], discrete: true, width: "100%", xtitle: "Time", ytitle: "Popularity"
        .col-md-6
          |Opens Per User  
          = pie_chart @values[:opens_unscr_spam]
        .col-md-6
          |Clicks Per User    
          = pie_chart @values[:clicks_unscr_spam]

- else
  div.centered
    p
      strong
        |Step 1:
      |Choose a List from the dropdown above.
    p
      strong
        |Step 2:
      |Choose a Broadcast or Follow up from the list view in the left sidebar.
    /span Please choose a broadcast, follow up, or webform.
