<h3><%= @list.title %></h3>
<label>Segmented List name</label>
<!--<input type="text" class="form-control" placeholder="Name for segment" style="width: 100%; margin: 10px 0 10px 0;" />-->

<section id="list_segment_form_section">
  <div id="segment_option_tmpl">
    <%= render partial: 'partials/segment', locals: { segment: nil } %> 
  </div>
  <hr>
  <div id="segment_collection">
    <% @segments.each do |segment| %>
      <%= render partial: 'partials/segment', locals: { segment: segment } %>
    <% end %>  
  </div>
</section>

