<script type="text/template" id="mapper_row_tmpl">
  <tr id="field_dropdown">
    <td class="combo-field-name">
      <input type="text" name="" id="" class="form-control combo-field-name-input" placeholder="Name for this field."></td>
    <td>
      <button class="btn btn-primary add-mapper-row" type="button"><i class="fa fa-plus"></i></button></td>
    <td>
      <button class="btn btn-primary remove-mapper-row" type="button"><i class="fa fa-close"></i></button></td>
  </tr>
</script>

<div role="tabpanel" class="tab-pane" id="list_combos">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Combo List</h3></div>
        <div class="panel-body">
          <form class="bootstrap-form-with-validation">
            <div class="form-group">
              <label class="control-label" for="text-input">Text Input</label>
              <input class="form-control" type="text" name="text-input" id="text-input">
            </div>
          </form>
          <div class="row">
            <div class="col-md-4">
              <label>Included Lists</label>
              <div class="bootstrap-form-with-validation">
                <div class="form-group">
                  <% @lists.each do |list| %>
                  <div class="checkbox">
                    <label class="control-label" for="checkbox-input">
                      <input type="checkbox" data-id="<%= list.id %>" class="combo-list-sel"><%= list.title %></label>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <p id="list_fields_selection"></p><!-- Insertion placeholder. -->

              <div style="clear: both;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <small>NOTE: Email columns are automatically included and mapped.</small>
                <table class="table" id="fields_mapper_table">
                  <thead><tr id="combo_field_map_hdr">
                    <th class="combo-field-name-hdr">Combo Field Name</th>
                    <th></th>
                    <th></th>
                  </tr></thead>
                  <tbody><tr id="field_dropdown" class="field-mapper-tr">
                    <td class="combo-field-name">
                      <input type="text" name="" id="" class="form-control combo-field-name-input" placeholder="Name for this field."></td>
                    <td>
                      <button class="btn btn-primary add-mapper-row" type="button"><i class="fa fa-plus"></i></button></td>
                    <td>
                      <button class="btn btn-primary remove-mapper-row" type="button"><i class="fa fa-close"></i></button></td>
                  </tr></tbody>
                  <!--<thead>-->
                  <!--<tr>-->
                    <!--<th>List #1</th>-->
                    <!--<th>List #2</th>-->
                    <!--<th> </th>-->
                  <!--</tr>-->
                  <!--</thead>-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Cell 1</td>-->
                    <!--<td>Cell 2</td>-->
                    <!--<td>Cell 2</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>Cell 3</td>-->
                    <!--<td>Cell 4</td>-->
                    <!--<td>Cell 4</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                </table>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-default btn-lg pull-right" type="button">Save </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Segmented List</h3></div>
          <div class="panel-body">
            <div class="form-group"></div>
            <label>List to segment</label>
            <!--<select>-->
              <!--<option value="" selected="">This is a group</option>-->
              <!--<option value="12" selected="">This is item 1</option>-->
              <!--<option value="13">This is item 2</option>-->
              <!--<option value="14">This is item 3</option>-->
            <!--</select>-->
            <label>Segmented List name</label>
            <input type="text" class="form-control" />

            <div class="form-inline">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="segment-active-check" /> Where
                </label>
                <label class="sr-only" for="segment_list_sel">List to segment</label>
                <select class="form-control segment-list-sel">
                  <option value="">Field #1</option>
                  <option value="">Field #2</option>
                  <option value="">Field #3</option>
                  <option value="">Field #4</option>
                  <option value="">Field #5</option>
                </select>
              </div>
              <div class="form-group">
                <label class="sr-only">Segment operators</label>
                <select class="form-control segment-operator-sel">
                  <option value="">is like</option>
                  <option value="">is not like</option>
                  <option value="">equals</option>
                  <option value="">does not equal</option>
                  <option value="">is before</option>
                  <option value="">is after</option>
                  <option value="">is on</option>
                  <option value="">is bigger than</option>
                  <option value="">is smaller than</option>
                </select>
              </div>
              <div class="form-group">
                <label class="sr-only">Segment value</label>
                <input type="text" class="form-control segment-val" placeholder="value to segment" />
              </div>
              <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
              <button type="button" class="btn btn-default"><i class="fa fa-close"></i></button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>