<div role="tabpanel" class="tab-pane" id="lists">
  <div class="row">
    <div class="col-md-6" style="border-right: 1px solid silver;">
      <div id="create_list">
        <h2 class="border-below"><%= t '.list_settings_header' %></h2>
        <div class="input-group">
          <input class="form-control" type="text" name="txt_create_new_list" id="txt_create_new_list" placeholder="Type your list name here..." />
          <span class="input-group-btn">
            <button class="btn btn-info" type="button" id="btn_create_new_list" disabled><i class="fa fa-check-circle"></i>&nbsp;<%= t '.create' %></button>
          </span>
        </div>
      </div>
      <div id="import_emails" style="display: none;">
        <h4><%= t '.import_header' %></h4>
        <div class="import-contacts btn btn-primary btn-lg btn-file btn-import">
          <form action="" method="post" id="contact_file_upload">
            <i class="fa fa-folder-open-o"></i>&nbsp;<%= t '.import_button_text' %><input id="list_csv_upload_file" type="file" class="file" multiple>
          </form>
        </div>
        <span style="display: inline-block;">OR</span>
        <button data-toggle='modal' data-target='#copy_paste_subscibers_modal' class="import-contacts btn btn-primary btn-lg btn-file btn-import">
          <i class="fa fa-clipboard"></i>&nbsp;Copy/Paste
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="border-below">Your Lists</h2>
      <div class="row">
        <div class="col-md-6">
          <label for="">PERMANENTLY Delete a List&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="Your Lists" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." tabindex="-1"><i class="fa fa-info-circle"></i></h2></a></label>
          <div class="input-group">
            <select name="sel_lists_management" id="sel_lists_management" class="form-control sel-lists">
              <option>Select a contact list...</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-info pull-right" type="button" id="btn_delete_list" disabled><i class="fa fa-trash"></i>&nbsp;Delete</button>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <label for="">Subscribers&nbsp;<a href="#" data-container="body" data-toggle="popover" data-placement="right" title="List Subscribers" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." tabindex="-1"><i class="fa fa-info-circle"></i></h2></a></label>
          <div class="input-group">
            <input disabled style="width: 100%;" class="form-control sub-count" id="lists_subscriber_count" />
            <span class="input-group-btn">
              <button class="btn btn-info view-subscribers-btn" type="button" disabled><i class="fa fa-pencil-square-o"></i>&nbsp;View</button>
            </span>
            <span class="input-group-btn">
              <a href="list/subscribers/export.csv" target="_BLANK" class="btn btn-info pull-right" type="button" id="export_subscribers_btn" style="display: none;"><i class="fa fa-external-link"></i>&nbsp;Export</a>
            </span>
          </div>
        </div>
      </div>
      <div class="row" id="list_services" style="display: none;">
        <div class="col-md-12">
          <label for="">Active Services</label>
          <ul class="nav nav-pills" id="list_service_btns" style="display: inline; margin: 10px;">
            <% @services.each do |service| %>
            <li class="list-service-btn"><button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off"><i id="<%= service.name %>_btn_check" class="fa fa-square-o"></i>&nbsp;<%= service.label %></button></li>
            <% end %>
          </ul>
        </div>
      </div>
      <label for="">Manage Subscribers</label>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search query here..." id="list_search_criterion" />
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" id="add_new_contacts" disabled><i class="fa fa-plus"></i></button>
              <button class="btn btn-info" type="button" id="clear_search_contacts" disabled><i class="fa fa-close"></i></button>
              <button class="btn btn-info" type="button" id="search_contacts" disabled><i class="fa fa-check-circle"></i></button>
            </span>
          </div>
        <table id="contact_search_results_tbl" class="table table-striped"></table>
      </div>
    </div>
  </div>
</div>
<a href="#lists_list" class="btn btn-primary btn-lg pull-right" role="tab" data-toggle="tab"><i class="fa fa-arrow-left" style="vertical-align: bottom;"></i>&nbsp;Back to Lists Manager</a>
</div>
