<div id="list_manager">
  <div class="border-below">
    <h2 style="display: inline-block">Lists<%= "::#{@list_title}" if @list_title %> &nbsp;<a href="#" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" title="Lists Manager" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." tabindex="-1"><i class="fa fa-info-circle"></i></a></h2>
    <a href="#lists" id="new_list_btn" aria-controls="settings" role="tab" data-toggle="tab" class="btn btn-primary" style="margin: 21px; right: 15px; position: absolute;"><i class="fa fa-plus"></i> New List</a>
  </div>
  <br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <%= list_sortable_th(field: 'created_at', text: 'Created') %>
      <%= list_sortable_th(field: 'updated_at', text: 'Last Edit') %>
      <%= list_sortable_th(field: 'title', text: 'Name') %>
      <%= list_sortable_th(field: 'services', text: 'Connected Services') %>
      <th>Leads</th>
      <th>Broadcasts</th>
      <th>Follow ups</th>
      <th>Webforms</th>
      <!--<th>Add Lead</th>-->
      <th>Subscribers</th>
      <th>Export</th>
      <!--<th></th>-->
      <!--<th></th>-->
    </tr>
    </thead>
    <tbody>
    <% @lists.each do |list| %>
        <% service_arr = list.services.to_s.split(",") || null %>
        <% services = Service.where(["id IN (?)", service_arr]).pluck(:label) || services = [] %>
        <% services = services.join(", ") || '<i span="fa fa-minus></i>"'.html_safe %>
        <tr data-list-id="<%= list.id %>">
          <td><%= list.created_at ? list.created_at.strftime("%b %d, %Y") : '-' %></td>
          <td><%= list.updated_at ? list.updated_at.strftime("%b %d, %Y") : '-' %></td>
          <td><a href="javascript:void(0);" class="edit-list edit-link" data-id="<%= list.id %>"><%= list.title %>&nbsp;<i class="fa fa-cog"></i>
</a></td>
          <td><%= services %></td>
          <td><%= @subscribers[list.id] if @subscribers.present? %></td>
          <td align="center"><a href="#" class="list-broadcast edit-link" data-id="<%= list.id %>"><i class="fa fa-eye"></a></td>
          <td align="center"><a href="#" class="list-followup edit-link" data-id="<%= list.id %>"><i class="fa fa-eye"></a></td>
          <td align="center"><a href="#" class="list-webforms edit-link" data-id="<%= list.id %>"><i class="fa fa-eye"></a></td>
          <% if @subscribers.present? && @subscribers[list.id].present? && @subscribers[list.id] > 0  %>
            <td align="center" ><a href="#" data-id="<%= list.id %>" title="Preview" class="view-subscribers-btn edit-link"><i class="fa fa-eye"></i></a></td>
            <td align="center"><a href="list/subscribers/<%= list.id %>/export.csv" class="edit-link" target="_BLANK" title="Export as .csv"><i class="fa fa-external-link"></i></a></td>
          <% else %>
            <td align="center"><a rel='tooltip' href="#" class="edit-link" data-container="body" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="No leads have been uploaded to this list yet" tabindex="-1"><i class="fa fa-eye"></i></a></td>
            <td align="center"><a rel='tooltip' href="#" class="edit-link" data-container="body" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="No leads have been uploaded to this list yet" tabindex="-1"><i class="fa fa-external-link"></i></a></td>
          <% end %>
     
          <!--<td align="center"><a href="#" data-toggle="modal" data-target="#list_segments_modal" data-id="<%= list.id %>" title="List Segments" class="edit-segments"><i class="fa fa-pie-chart"></i></a></td>-->
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
