<div role="tabpanel" class="tab-pane" id="lists_list">
  <div class="row">
    <div class="col-md-12">

      <%= render "partials/list_manager" %>

      <div id="lists_page" style="display: inline-block;"></div>

      <ul id="lists_page_size" class="pagination" style="position: absolute; right: 17px; display: inline-block;">
        <% @page_sizes.each do |page_size| %>
            <li class="<%= 'active' if @page_size == page_size %>"><a href="#" data-page-size="<%= page_size %>"><%= page_size %></a></li>
        <% end %>
      </ul>

    </div>
  </div>
</div>