<!-- BROADCAST :: Spam score. -->
<div class="modal fade" id="broadcast_spam_score" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Email Spam Score&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        <div id="spam_test_sender">
          <!--input type="text" name="" id="spam_test_sender_txt" class="form-control" placeholder="Send From Email (e.g. myemail@example.com)" style="width: 100%;" />
          <button type="button" class="btn btn-default" id="spam_test_sender_btn"><i class="fa fa-flask"></i>&nbsp;Test Spam Score</button-->
        </div>
        <p>Your spam score for this message is <span style="background-color: silver; border: 1px solid darkgray;" id="spam_score">0</span> out of 10...</p>
        <div class="border-below"><i class="fa fa-exclamation-triangle"></i>&nbsp;Some filters may stop this message from inboxing.</div>
        <strong>Suggestions</strong>
        <!--ul>
          <li>Make your "from" and email match in server settings.</li>
          <li>Avoid excess capitalization of words.</li>
          <li>Avoid terms like "free" and "money" in the subject line.</li>
          <li>Avoid excess use of links in the email body.</li>
        </ul-->
        <div id="test_results"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End spam score. -->

<!-- BROADCAST :: Test mail. -->
<div class="modal fade" id="broadcast_test">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Send Test Email&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        <form class="email-test-form" data-fv-framework="bootstrap" data-fv-icon-valid="fa fa-check" data-fv-icon-invalid="fa fa-times" data-fv-icon-validating="fa fa-refresh">
          <div class="form-group">
            <p>Where do you want the test email sent?</p>
            <input type="text" style="width: 100%;" name="txt_bc_test_email" class="test-email-addr" id="txt_bc_test_email" placeholder="email@example.com" data-fv-emailaddress="true" data-fv-emailaddress-message="Not a valid email address" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span style="display: none;">Processing test request...</span>
        <span style="display: none;">Your test has been sent.</span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary send-email-test-btn" id='send_test_email_btn' disabled><i class="fa fa-paper-plane"></i>&nbsp;Send Test</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End test mail. -->

<!--&lt;!&ndash; BROADCASTS :: Manage List Segments. &ndash;&gt;-->
<!--<div class="modal fade" id="broadcast_manage_segments">-->
  <!--<div class="modal-dialog modal-lg">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
        <!--<h4 class="modal-title"><span id="broadcast_quick_stats_title">Manage Broadcast Segments</span>&nbsp;<i class="fa fa-info-circle"></i></h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<ul>-->
          <!--<%# @segment_types.each do |seg| %>-->
          <!--<li>-->
            <!--<div class="form-inline">-->
              <!--<%# if seg.variables.blank? %>-->
                <!--<%# desc = seg.descr %>-->
              <!--<%# else %>-->
                <%# desc = seg.descr
#                 #desc = desc.gsub("{{x}}", "<input type=\"text\" class=\"form-control segment-type-value x\" style=\"width: 50px;\" data-id=\"#{seg.id}\" disabled />")
                #desc = desc.gsub("{{y}}", "<input type=\"text\" class=\"form-control segment-type-value y\" style=\"width: 50px;\" data-id=\"#{seg.id}\" disabled />") %>
              <!--<%# end %>-->
              <!--<p class="segment-type form-group"><input type="checkbox" class="checkbox segment-type-chkbox" data-id="<%#= seg.id %>" data-desc="<%#= seg.descr %>" />&nbsp;&nbsp;<%#= desc.html_safe %></p>-->
            <!--</div>-->
            <!--&lt;!&ndash;button class="btn btn-default segment-type-btn"><i class="fa fa-square-o"></i>&nbsp;<%#= seg.descr %></button&ndash;&gt;-->
            <!--<%# unless seg.variables.blank? %>-->
            <!--<%# vars = JSON.parse(seg.variables)  %>-->
              <!--&lt;!&ndash;input type="text" class="form-control" class="segment-variable-value" data-id="<%#= vars[0]['id'] %>" /><span class="segment-type-variables"><%#= vars[0]["desc"] %></span&ndash;&gt;-->
            <!--<%# end %>-->
          <!--</li>-->
          <!--<%# end %>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-primary" id="save_segment_types_btn">Save</button>-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
<!--&lt;!&ndash; End manage list segments. &ndash;&gt;-->

<!-- BROADCAST :: Load a saved broadcast message. -->
<div class="modal fade" id="broadcast_load">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Load A Saved Message&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h4><label for="broadcast_load_list">Select A List</label></h4>
            <select name="broadcast_load_list" id="broadcast_load_list" class="form-control sel-lists">
              <option>Select a contact list...</option>
            </select>
          </div>
          <section id="broadcasts_load">
            <h4><label for="">Select A Message to Load</label>&nbsp;<i class="fa fa-info-circle"></i></h4>
            <div class="list-group list-scroll" id="broadcast_load_message">
              <a href="#" class="list-group-item" id="bc_item_1">
                <h4 class="list-group-item-heading">Follow up item heading</h4>
                <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                </div>
                <p class="list-group-item-text">The Russian currency has now fallen 49.3 percent against the greenback since January, according to data from the Moscow Exchange...</p>
              </a>

              <a href="#" class="list-group-item followup_sortable" id="sched_followup_2">
                <h4 class="list-group-item-heading">Follow up heading #2</h4>
                <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                  <button type="button" class="btn btn-primary" id="copy_sched_followup_2"><i class="fa fa-files-o"></i></button>
                </div>
                <p class="list-group-item-text">Monday’s plunge was the largest single-day fall for the ruble since the financial crisis of 1998 when Russia was forced to default on its debt after exhausting its reserves in a fruitless bid to prop up the currency...</p>
              </a>

              <a href="#" class="list-group-item followup_sortable" id="sched_followup_3">
                  <h4 class="list-group-item-heading followup_sortable">3rd follow up item heading</h4>
                  <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                  <button type="button" class="btn btn-primary" id="copy_sched_followup_3"><i class="fa fa-files-o"></i></button>
                </div>
                  <p class="list-group-item-text">Monday’s plunge was the largest single-day fall for the ruble since the financial crisis of 1998 when Russia was forced to default on its debt after exhausting its reserves in a fruitless bid to prop up the currency...</p>
              </a>
            </div>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" disabled="true" id="load_message_btn">Load Message</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="broadcast_send">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Broadcast Now&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        You are about to send this broadcast to your currently selected list.<p/>
        Are you sure you want to do this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--button type="button" class="btn btn-primary">Create New</button-->
        <button type="button" class="btn btn-primary" id="confirm_send_broadcast_btn">Send Broadcast</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End loading broadcast message. -->

<!-- Launched from queue_broadcast_btn on _broadcast.html.erb. -->
<div class="modal fade" id="queue_broadcast_send">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Schedule Broadcast&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        You are about to save this broadcast for sending later to your currently selected list.<p/>
        Are you sure you want to do this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--button type="button" class="btn btn-primary">Create New</button-->
        <button type="button" class="btn btn-primary confirm-queue-broadcast-btn">Schedule Broadcast</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End queueing broadcast message. -->

<div class="modal fade" id="update_broadcast_mod">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Update and Send Broadcast Now&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        You are about to update and send this broadcast to your currently selected list.<p/>
        Note that this broadcast will NOT be sent to list members who have already received the original.<p/>
        Are you sure you want to do this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--button type="button" class="btn btn-primary">Create New</button-->
        <button type="button" class="btn btn-primary" id="confirm_update_broadcast_btn">Send Broadcast</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End loading broadcast message. -->

<!-- Follow up :: Load a saved follow up message. -->
<div class="modal fade" id="mod_delete_list">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Delete List</h4>
      </div>
      <div class="modal-body">
        <h2><i class="fa fa-exclamation-triangle"></i>&nbsp;Warning!</h2>
        <p>You are about to PERMANENTLY delete the selected list. This cannot be undone.</p>
        <p>Do you wish to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="btn_permanently_delete_list" data-dismiss="modal">PERMANENTLY Delete This List</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End Delete list. -->

<!-- Followup spam test modal. -->
<div class="modal fade" id="followup_spam_score_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Email Spam Score&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        <div id="followup_spam_test_sender"></div>
        <p>Your spam score for this message is <span style="background-color: silver; border: 1px solid darkgray;" id="followup_spam_score">0</span> out of 10...</p>
        <div class="border-below"><i class="fa fa-exclamation-triangle"></i>&nbsp;Some filters may stop this message from inboxing.</div>
        <strong>Suggestions</strong>
        <div id="followup_test_results"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End followup spam score. -->



<!-- BROADCAST :: Test mail. -->
<div class="modal fade" id="followup_test_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Send Test Email&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        <p>Where do you want the test email sent?</p>
        <input type="text" style="width: 100%;" name="" id="followup_test_email_addr" placeholder="email@example.com" class="form-control" />
      </div>
      <div class="modal-footer">
        <span style="display: none;">Processing test request...</span>
        <span style="display: none;">Your test has been sent.</span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="send_test_followup_btn"><i class="fa fa-paper-plane"></i>&nbsp;Send Test</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End followup test mail. -->



<!-- LISTS :: Upload list. -->
<div class="modal fade" id="mod_csv_parser">
  <div class="modal-dialog modal-lg" style="min-width: 70%;">
    <div class="modal-content">

      <!--form action="list/save_file" method="post" id="contact_upload"-->
      <%= form_tag "list/save_file", id: "contact_upload", multipart: true do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Upload Your List File</h4>
      </div>
      <div class="modal-body">
        <div id="csv_data_holder">
          <div class="row">
            <div class="col-md-6" style="display: none;">
            <!-- "General" panel - Delimiter, row header -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">General</h3>
              </div>
              <div class="panel-body">
                <div>
                  <input type="checkbox" name="csv_first_row_header" id="csv_first_row_header" checked="true" />&nbsp;First Row Is Header
                </div>
              </div>
            </div>
            <!-- End "General" panel -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
            <!-- "Fields" panel -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Fields To Import</h3>
              </div>
              <div class="panel-body">
                <table style="width: 100%; font-size: .80em;"><thead ><tr><th>Import?</th><th>Email?</th>
                </tr></thead>
                <tbody id="csv_included_fields">
                </tbody>

                </table>
              </div>
            </div>
            <!-- End "Fields" panel -->
            </div>

            <div class="col-md-8" style="font-size: .80em;">
              <!-- "Preview" panel -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Import Preview</h3>
                </div>
                <div class="panel-body" style="overflow: scroll;">
                  <table class="table table-striped table-bordered table-condensed" id="csv_preview_table">
                    <thead id="csv_preview_header">
                    </thead>
                  </table>
                </div>
              </div>
              <!-- End "Preview" panel -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="upload_list_btn"><i class="fa fa-cloud-upload"></i>&nbsp;Upload List</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <!--/form-->
      <% end %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End Upload list. -->

<!-- Broadcasts :: Split test dialog. -->
<div class="modal fade" id="mod_bc_split_test">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Broadcast Split Test</h4>
      </div>
      <div class="modal-body">
        <!-- <span class="lead">This feature is in progress and will be available soon after the beta launch.</span> -->
        <div class="border-below">
          <h2>Message "B"&nbsp;<i class="fa fa-info-circle"></i></h2>
        </div>
        <h4><label for="test_broadcast_subj_line">Subject Line&nbsp;<i class="fa fa-info-circle"></i></label></h4>
        <div id="split_subject_line_broadcast_field_tokens" style="margin-bottom: 7px;"></div>
        <input type="text" name="test_bc_subj_line_b" id="test_bc_subj_line_b" class="form-control" placeholder="Type your subject here..." style="width: 100%;" />
        <h4><label for="broadcast_message">Main message&nbsp;<i class="fa fa-info-circle"></i></label></h4>
        <div id="split_body_field_tokens" style="margin-bottom: 7px;"></div>
        <textarea name="test_bc_message_b" id="test_bc_message_b" cols="30"  rows="10"></textarea>
        <button class="btn btn-info pull-left" type="button" data-toggle="modal" data-target="" id="remove_split_test" data-message-number="b" name="remove_split_test"><i class="fa fa-times"></i>&nbsp;Remove Split Test</button>
        <button class="btn btn-info pull-right" type="button" data-toggle="modal" data-target="#broadcast_spam_score"><i class="fa fa-exclamation-triangle"></i>&nbsp;Check Spam</button>
        <button class="btn btn-info " type="button" data-toggle="modal" data-target="" id="save_test_message_2" data-message-number="b" name="save_test_message_2"><i class="fa fa-floppy-o"></i>&nbsp;Test</button>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="fix_broadcast_split_test">Done</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End split test dialog. -->

<!-- Follow ups :: Load a saved follow up message. -->
<div class="modal fade" id="followup_load">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Load A Saved Message&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h4><label for="followup_load_list">Select A List</label></h4>
            <select name="followup_load_list" id="followup_load_list" class="form-control sel-lists">
              <option>Select a contact list...</option>
            </select>
          </div>
          <div class="col-md-12">
            <h4><label for="followup_load_broadcasts">Select A Broadcast</label></h4>
            <select name="followup_load_broadcasts" id="followup_load_broadcasts" class="form-control">
              <option>No broadcasts associated with the selected list...</option>
            </select>
          </div>
          <!-- select name="followup_load_message" id="followup_load_message" class="form-control">
              <option>No follow ups associated with the selected broadcast...</option>
            </select -->
          <section id="followups_load">
            <h4><label for="">Select A Message to Load</label>&nbsp;<i class="fa fa-info-circle"></i></h4>
            <div class="list-group list-scroll" id="followup_load_message">
              <a href="#" class="list-group-item" id="bc_item_1">
                <h4 class="list-group-item-heading">Follow up item heading</h4>
                <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                </div>
                <p class="list-group-item-text">The Russian currency has now fallen 49.3 percent against the greenback since January, according to data from the Moscow Exchange...</p>
              </a>

              <a href="#" class="list-group-item followup_sortable" id="sched_followup_2">
                <h4 class="list-group-item-heading">Follow up heading #2</h4>
                <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                  <button type="button" class="btn btn-primary" id="copy_sched_followup_2"><i class="fa fa-files-o"></i></button>
                </div>
                <p class="list-group-item-text">Monday’s plunge was the largest single-day fall for the ruble since the financial crisis of 1998 when Russia was forced to default on its debt after exhausting its reserves in a fruitless bid to prop up the currency...</p>
              </a>

              <a href="#" class="list-group-item followup_sortable" id="sched_followup_3">
                  <h4 class="list-group-item-heading followup_sortable">3rd follow up item heading</h4>
                  <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                  <button type="button" class="btn btn-primary" id="copy_sched_followup_3"><i class="fa fa-files-o"></i></button>
                </div>
                  <p class="list-group-item-text">Monday’s plunge was the largest single-day fall for the ruble since the financial crisis of 1998 when Russia was forced to default on its debt after exhausting its reserves in a fruitless bid to prop up the currency...</p>
              </a>
            </div>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" disabled="true" id="load_fu_message_btn">Load Message</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END Follow ups :: Load a saved follow up message. -->

<!-- Broadcasts/Follow ups :: Preview email. -->
<div class="modal fade" id="mod_preview_message">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Preview Email Message</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" style="border: 2px solid black;">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END Broadcasts/Follow ups :: Preview email. -->

<!-- Lists :: View subscribers. -->
<div class="modal fade" id="mod_view_subscribers">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Subscribers</h4>
      </div>
      <div class="modal-body" style="overflow: auto">
        <div class="row">
          <div class="col-md-12">
            <span style="display: none;" class="lead">This feature is in progress and will be available soon after the beta launch.</span>
            <table id="subscriber_view_table" class="table table-striped"></table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Lists :: Get more leads. -->
<div class="modal fade" id="mod_get_more_leads">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Get more leads</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <span class="lead">This feature is in progress and will be available soon after the beta launch.</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Lists :: Get more leads. -->
<div class="modal fade" id="mod_tutorials_and_support">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Tutorials and Support</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <span class="lead">This feature is in progress and will be available soon after the beta launch.</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Lists :: Get more leads. -->
<div class="modal fade" id="mod_no_list">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Welcome to Klickrr!</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <span>Your contacts lists are the foundation of Klickrr. In fact, your lists are so important, you can't really do any of the fun things Klickrr offers unless you have at least one. Why don't you create one now? You can add your contacts later on.</span>
          </div>
          <div class="col-md-12">
            <div class="input-group">
              <input class="form-control" type="text" name="txt_create_first_list" id="txt_create_first_list" placeholder="Type the name of your first list here..." style="width: 100%;" />
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="btn_create_first_list"><i class="fa fa-check-circle"></i>&nbsp;Create</button>
              </span>
            </div><!-- /input-group -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, thanks.</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END Broadcasts/Follow ups :: Preview email. -->

<!-- Lists :: Delete a specific contact. -->
<div class="modal fade" id="mod_delete_contact">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Delete This Contact</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p class="bg-danger text-danger">WARNING!</p>
            <p>You are about to PERMANENTLY delete a contact from your list. This cannot be undone.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Delete This Contact</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END Lists :: Delete a specific cotact. -->

<!-- SERVICES :: Test mail. -->
<div class="modal fade" id="mod_service_test">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Test This Service&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        <p>To ensure we've got everything configured correctly, we will send you an email using your chosen service.</p>
        <p>Where do you want the test email sent?</p>
        <form class="email-test-form" data-fv-framework="bootstrap" data-fv-icon-valid="fa fa-check" data-fv-icon-invalid="fa fa-times" data-fv-icon-validating="fa fa-refresh">
          <div class="form-group">
            <input type="text" style="width: 100%; margin-bottom: 25px;" name="service_test_email_addr" data-fv-emailaddress="true" data-fv-emailaddress-message="Not a valid email address" class="test-email-addr" id="service_test_email_addr" placeholder="email@example.com" class="form-control" />
            <input type="hidden" name="service_test_from_email" id="service_test_from_email" value="" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span style="display: none;">Processing test request...</span>
        <span style="display: none;">Your test has been sent.</span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary send-email-test-btn" id="send_service_test_btn" data-service="" data-services-user-id="" disabled><i class="fa fa-paper-plane"></i>&nbsp;Send Test</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- DASHBOARD :: Broadcast Quick Stats. -->
<div class="modal fade" id="broadcast_quick_stats_mod">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><span id="broadcast_quick_stats_title">Broadcast Status</span>&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body" id="broadcast_progress_stats_container"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Analytics :: Stats modal. -->
<div class="modal fade" id="broadcast_stats_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><span id="broadcast_quick_stats_title">Broadcast Analytics</span>&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        <table style="padding: 25px;">
          <tr>
            <td style="text-align: right; padding-right: 15px;"><h4>Sent: </h4></td>
            <td id="analytics_modal_sent"></td>
          </tr>
          <tr>
            <td style="text-align: right; padding-right: 15px;"><h4>Opened: </h4></td>
            <td id="analytics_modal_opened"></td>
          </tr>
          <tr>
            <td style="text-align: right; padding-right: 15px;"><h4>Clicked: </h4></td>
            <td id="analytics_modal_clicked"></td>
          </tr>
          <tr>
            <td style="text-align: right; padding-right: 15px;"><h4>Click Through Ratio (CTR): </h4></td>
            <td id="analytics_modal_ctr"></td>
          </tr>
          <tr>
            <td style="text-align: right; padding-right: 15px;"><h4>Dropped: </h4></td>
            <td id="analytics_modal_dropped"></td>
          </tr>
          <tr>
            <td style="text-align: right; padding-right: 15px;"><h4>Delivered: </h4></td>
            <td id="analytics_modal_delivered"></td>
          </tr>
          <tr>
            <td style="text-align: right; padding-right: 15px;"><h4>Bounced: </h4></td>
            <td id="analytics_modal_bounced"></td>
          </tr>
          <tr>
            <td style="text-align: right; padding-right: 15px;"><h4>Unsubscribed: </h4></td>
            <td id="analytics_modal_unsubscribed"></td>
          </tr>
          <tr>
            <td style="text-align: right; padding-right: 15px;"><h4>reports: Spam  </h4></td>
            <td id="analytics_modal_spam"></td>
          </tr>
          <tr>
            <td style="text-align: right; padding-right: 15px;"><h4>Blocked: </h4></td>
            <td id="analytics_modal_blocked"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End test mail. -->

<!-- Followups::Delete follow up. -->
<div class="modal fade" id="delete_followup_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><span id="broadcast_quick_stats_title">Delete Follow up</span>&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        Warning! You are attempting to permantently delete this follow up.<br/>
        This cannot be undone. Do you wish to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="delete_followup_modal_verify" data-id="">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End delete followup modal. -->

<% @services.each do |service| %>
    <div class="modal fade" role="dialog" id="new_account_service_forms_<%=service.id %>">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">New Account</h4>
          </div>
          <div class="modal-body">
                  <div role="tabpanel" class="tab-pane<%= " active" if service.name == "personal" %>" id="role_modal_<%= service.name %>">
                    <div class="row service_details" id="details_modal_<%= service.name %>_details">
                      <form method="post" action="save_service_conf" class="modal_service_details_form services-form">
                        <%= hidden_field_tag "service_id", service.id %>
                        <div class="activate_service">

                          <strong><%= service.label %></strong>
                          Connect and activate multiple servers to allow rotation delivery of emails. <a href="#">More Info</a>
                        </div>

                        <div class="service-fields">
                          <% service.service_fields.order(:id).each do |field| %>
                              <label for="<%= field.id %>"><%= field.label %><% if field.required %>&nbsp;&nbsp;<span style="color: darkred;">*</span><% end %>
                                <% if field.field_options.blank? == false && JSON.parse(field.field_options)["data-toggle"] == "popover" %>
                                    <% tips =  JSON.parse(field.field_options) %>
                                    <a href="#" data-container="body" data-toggle="popover" data-placement="<%= tips["data-placement"] %>" title="<%= tips["title"] %>" data-content="<%= tips["data-content"] %>" tabindex="-1"><i class="fa fa-info-circle"></i></a>
                                <% end %>
                              </label><br/>
                              <% case field.field_type %>
                          <% when "text", "email" %>
                                  <% field_options = field.field_options.blank? ? {} : JSON.parse(field.field_options) %>

                                  <input type="<%= field.field_type %>" name="<%= field.name %>" id='<%= "#{field.name}" %>' class="form-control <%= service.name %><%= " required" if field.required? %>" data-service="<%= service.name %>"<% unless field_options['validators'].blank? %><% field_options['validators'].each { |validator| %> <%= validator["attr"] %>="<%= validator["val"] %>"<% } %><% end %> />
                              <% when "password" %>
                                  <input type="password" name="<%= field.name %>" id="<%= field.name %>" class="form-control <%= service.name %><%= " required" if field.required %>" data-service="<%= service.name %>" />
                              <% when "checkbox" %>
                                  <input type="checkbox" name="<%= field.name %>" id="<%= field.name %>" class="form-control <%= service.name %><%= " required" if field.required %>" data-service="<%= service.name %>" />
                              <% when "select" %>
                                  <select name="<%= field.name %>" id ='<%= field.name %>' class="form-control <%= service.name %><%= " required" if field.required %>" data-service="<%= service.name %>">
                                    <% if field.field_options.blank? == false && JSON.parse(field.field_options)["option"] %>
                                      <% options = field.field_options.gsub("{", "") %>
                                      <% options = options.gsub("}", "") %>
                                      <% options = options.split(",") %>
                                      <% options.each do |option| %>
                                        <%= (option).html_safe %>
                                      <% end %>
                                    <% end %>
                                  </select><br/>
                              <% end %>
                          <% end %>

                          <div class="resource-error alert alert-danger" hidden>
                              <a href="#" class="close" data-dismiss="alert">&times;</a>
                              <strong>Error!</strong><div class="error-message"></div>
                          </div>

                            <br>
                            <input type="checkbox" name="check_<%= service.name %>" id="check_<%= service.name %>" class="service-chkbx" data-service="<%= service.name %>" onChange="Klickrr.Services.activate('<%= service.name %>')"/>
                            <label for="check_<%= service.name %>">Activate service</label>
                            <button class="btn btn-primary pull-right" style="margin: 10px;"><i class="fa fa-check new-service-save-btn"></i> Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<!-- List segments modal -->
<div class="modal fade" id="list_segments_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">List Segments&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body" id="list_segments_modal_body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_segments_btn"><i class="fa fa-pie-chart"></i>&nbsp;Save Segments</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- add new contact modal -->
<div class="modal fade" id="add_new_contact_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add New Contact&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body"></div>
      <div style="padding-left: 20px; padding-right: 20px;">
        <div class="alert alert-danger" id='new_contact_error_message' hidden>
          <strong>Error!</strong> Not all required fields were filled.
        </div>
        <div class="alert alert-danger" id='validate_email_error_message' hidden>
          <strong>Error!</strong> There is a user with the same email.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_new_contact_btn"><i class="fa fa-pie-chart"></i>&nbsp;Save Contact</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class="modal fade active-service-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= t '.close' %></span>
        </button>
        <h4 class="modal-title"><%= t '.active_service_modal.title' %></h4>
      </div>
      <div class="modal-body">
        <ul class="list-services row">
          <div class='hidden service-template'>
            <li class="list-service col-md-4">
              <div class="btn btn-default" data-toggle="button" aria-pressed="false">
                <i class="fa fa-square-o"></i>&nbsp;<span class='service-label'></span>
              </div>
            </li>
          </div>
          <div class='services-not-found center'>
            <%= t '.active_service_modal.services_not_found' %>
          </div>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t '.cancel' %></button>
        <button type="button" class="btn btn-primary btn-save"><%= t '.save' %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="broadcast_save_as_draft_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Save As Draft Modal&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        You are about to save this broadcast as draft.<p/>
        Are you sure you want to do this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--button type="button" class="btn btn-primary">Create New</button-->
        <button type="button" class="btn btn-primary confirm-broadcast-save-as-draft">Save As Draft</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="copy_paste_subscibers_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Copy/Paste Leads&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        <span>Copy and paste your comma-seperated list below</span>
        <textarea class="form-control" rows="10" id="textarea_with_new_subscribers"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="copy_paste_leads">Import</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm_change_selected_list_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Set AS Active&nbsp;<i class="fa fa-info-circle"></i></h4>
      </div>
      <div class="modal-body">
        Do you wish to change move the broadcast to the newly selected list?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="cancel_change_selected_list" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirm_change_selected_list">Yes</button>
      </div>
    </div>
  </div>
</div>
