<div class="segment-item" data-id="<%= segment.try(:id) %>">
  <div class="form-inline" style="margin: 10px 0 10px 0;">
    <div class="form-group">
      <label class="sr-only" for="segment_list_sel">List to segment</label>
      <select class="form-control segment-list-sel"">
        <% @list.list_fields.each do |field| %>
            <option value="<%= field.id %>" data-list-id="<%= @list.id %>" <%= field.id == segment.try(:field_id) ? 'selected=\"selected\"' : '' %>><%= field.label %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label class="sr-only">Segment operators</label>
      <select class="form-control segment-operator-sel">
        <% @segment_operations.each do |segment_operation| %>
           <option value="<%= segment_operation.label %>" <%= segment_operation.id == segment.try(:segment_operation).try(:id) ? 'selected=\"selected\"' : '' %>><%= segment_operation.label %></option>
        <% end %>   
      </select>
    </div>
    <div class="form-group">
      <label class="sr-only">Segment value</label>
      <input type="text" class="form-control segment-val" placeholder="value" value="<%= segment.try(:condition_value) %>"/>
    </div>
    <button type="button" class="btn btn-sm btn-primary add-list-segment-btn" <%= segment.present? ? 'style=display:none;' : '' %>><i class="fa fa-plus"></i></button>
    <button type="button" class="btn btn-sm btn-primary del-list-segment-btn" <%= segment.nil? ? 'style=display:none;' : '' %>><i class="fa fa-close"></i></button>
  </div>
</div>  
