#services.tab-pane role='tabpanel'
  ul#services_tablist.nav.nav-pills role='tablist' style='margin-top: 25px;'
    - @services_users.each do |services_user|
      - service = services_user.service
      li class=("#{'active' if service.name == 'personal'}") id="#{service.name}_pill" role='presentation'
        a href="##{service.name}" aria-controls=service.name role='pill' data-toggle='tab'
          = service_label_with_icon(services_user, id: "#{service.name}_btn_check")
    li role='presentation'
      a href='#services_rotation' role='pill' data-toggle='tab'
        | Services rotation
  #service_pills_content.tab-content
    - @services_users.each do |services_user|
      - service = services_user.service
      div class=("tab-pane#{' active' if service.name == 'personal'}") id=service.name role='tabpanel'
        .row.service_details id="#{service.name}_details"
          .col-md-6.services-users style=("border-right: 1px solid silver;")
            = render partial: 'partials/servises_user', locals: {service: service, services_user: services_user}
          .col-md-6
            h2 Need a #{service.label} Account?
            p= service.description
            a.btn.btn-primary href=service.url target='_BLANK'
              i.fa.fa-external-link
              | Get #{service.label}
            button.btn.btn-primary[data-service-id="#{service.id}"
                                   id="add_new_account_for_service_#{service.id}"
                                   style=('margin: 10px;')
                                   type=('button')]
              i.fa.fa-plus
              | Add New
    - if @services_users.present?
      = render 'partials/services_rotation/services_users'
