<form method="post" class="services-form service-<%= service.name %>" action="save_service_conf" id="services_user_<%= services_user.id %>" data-services-user-id="<%= services_user.id %>" style="margin-bottom: 55px">
  <%= hidden_field_tag "service_id", service.id %>
  <%= hidden_field_tag "services_user_id", services_user.id %>
  <% service.service_fields.order(:id).each do |field| %>
      <label for="<%= field.id %>"><%= field.label %><% if field.required %>&nbsp;&nbsp;<span style="color: darkred;">*</span><% end %>
        <% if field.field_options.blank? == false && JSON.parse(field.field_options)["data-toggle"] == "popover" %>
            <% tips =  JSON.parse(field.field_options) %>
            <a href="#" data-container="body" data-toggle="popover" data-placement="<%= tips["data-placement"] %>" title="<%= tips["title"] %>" data-content="<%= tips["data-content"] %>" tabindex="-1"><i class="fa fa-info-circle"></i></a>
        <% end %>
      </label><br/>
      <% case field.field_type %>
        <% when "text", "email" %>
          <% field_options = field.field_options.blank? ? {} : JSON.parse(field.field_options) %>

          <input type="<%= field.field_type %>" name="<%= field.name %>" id='<%= "#{field.name}_#{services_user.id}" %>' class="form-control <%= service.name %><%= " required" if field.required? %>" data-service="<%= service.name %>"<% unless field_options['validators'].blank? %><% field_options['validators'].each { |validator| %> <%= validator["attr"] %>="<%= validator["val"] %>"<% } %><% end %> />
        <% when "password" %>
            <input type="password" name="<%= field.name %>" id='<%= "#{field.name}_#{services_user.id}" %>' class="form-control <%= service.name %><%= " required" if field.required %>" data-service="<%= service.name %>" />
        <% when "checkbox" %>
            <div class="checkbox"><label><input type="checkbox" name="<%= field.name %>" id='<%= "#{field.name}_#{services_user.id}" %>' class="checkbox <%= service.name %><%= " required" if field.required %>" data-service="<%= service.name %>" />&nbsp;<%= field.label %></label></div>
        <% when "select" %>
            <select class="form-control <%= service.name %>" name="<%= field.name %>" id ='<%= "#{field.name}_#{services_user.id}" %>' class="form-control <%= service.name %><%= " required" if field.required %>" data-service="<%= service.name %>">
              <% if field.field_options.blank? == false && JSON.parse(field.field_options)["option"] %>
                <% options = field.field_options.gsub("{", "") %>
                <% options = options.gsub("}", "") %>
                <% options = options.split(",") %>
                <% options.each do |option| %>
                  <%= (option).html_safe %>
                <% end %>
              <% end %>
            </select><br/>
      <% end %>
  <% end %>

  <button class="btn btn-primary pull-right new-service-save-btn" style="margin: 10px;"><i class="fa fa-check"></i>&nbsp;Save</button>
  <button type="button" id="delete_services_user_<%= services_user.id %>" data-services-user-id="<%= services_user.id %>"  class="btn btn-default pull-right" style="margin: 10px;"><i class="fa fa-times"></i>&nbsp;Delete</button>
  <button data-service="<%= service.name %>" data-service-id="<%= service.id %>" type="button" class="btn btn-default pull-right service-test-btn" style="margin: 10px;"><i class="fa fa-flask"></i>&nbsp;Send Test</button>
</form>
