#webform_list.tab-pane role="tabpanel"
  .row
    .col-md-12
      = render "partials/webform_manager"
      #webform_page style="display: inline-block;"
      #webform_page_size.pagination style="position: absolute; right: 17px;"
        - @page_sizes.each do |page_size|
          - class_name = 'active' if @page_size == page_size
          li class=class_name
            a href="#" data-page-size=page_size 
              = page_size

