#webform_manager
  .row style="margin-top: 25px; margin-left: 30px; margin-right: 30px;"
    .col-md-9
      .row
        .col-md-12
          div style="background-color: white; height: 100px;"
            .welcome-triangle
              i.fa.fa-play style="color: white; font-size: 30pt;"
            .welcome-message
              h2 Form Builder
              p Create opt-in forms so news leads can be added to your lists automatically

    .col-md-3
      a#new_webform.btn.blue-button[href="#web_form" aria-controls="settings" role="tab" data-toggle="tab"
       style="margin: 21px; height: 60px;  width: 100%; padding-top: 15px; font-size: 18px; font-weight: 600;"]
        | CREATE WEB FORM

    .col-md-12
      table.table
        thead
          tr
            th.webform-table-head
              a.webform_order href="#" data-field="label" data-order-status=order_desc(@order, 'label')
                |Form Name&nbsp;
                i class=order_icon_class(@order, 'label')
            th.webform-table-head
              a.webform_order href="#" data-field="entries" data-order-status=order_desc(@order, 'entries')
                |Entries&nbsp;
                i class=order_icon_class(@order, 'entries')
            th.webform-table-head Form Options

        tbody
          - @webforms.each do |webform|
            tr
              td
                .webform-lable = webform.label
              td
                .webform-entry = webform.entries || 0
              td
                .webform-buttons-collection
                  button.btn.blue-button.webform-control-button.edit-webform[href="#web_form" aria-controls="settings" role="tab" data-toggle="tab" data-id=webform.id] EDIT
                  button.btn.blue-button.webform-control-button.duplicate-webform data-id=webform.id DUPLICATE
                  button.btn.blue-button.webform-control-button.copy-html-to-clipboard[href="#web_form" aria-controls="settings" role="tab" data-toggle="tab" data-id=webform.id] GET CODE
                  button.btn.red-button.webform-control-button.delete-webform data-id=webform.id DELETE
