<style>
  <% @styles.each do |s| %>
    <%= s.markup %>
  <% end %>
</style>

 <div role="tabpanel" class="tab-pane" id="web_form">
 	<div class="row">
	 	<!--<div class="container">-->
	  		<!--div class="row"-->
		<div class="col-md-12">
			<h1>Form Builder</h1>
		</div>
	</div>

  <%= render 'webform/steps_header' %>
  <%= render 'webform/steps', steps_count: @steps_count %>
  <%= render 'webform/change_step_buttons' %>
  <%= render 'webform/templates' %>
</div>
