<div role="tabpanel" class="tab-pane" id="web_form">
	<div class="row" style="height: 600px; width: 1200px;" id="webform_temp">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default" style="margin-top: 50px;">
			  <div class="panel-heading">
			    <h3 class="panel-title"><span class="lead">Web Form Builder</span></h3>
			  </div>
			  <div class="panel-body">
			    This feature is in progress and will be available soon after the beta launch.
			  </div>
			</div>
		</div>
	</div>
	<div class="row" style="display: none;">
		<div class="col-md-3">
		
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Webform Themes</h3>
			  </div>
			  <div class="panel-body">
			    <div class="webform_template_images" style="text-align: center;">
				<%= image_tag "form_previews/klickrr_form_1.jpg", class: "webform_theme", data: {theme: "webform_1"} %>
				<%= image_tag "form_previews/klickrr_form_2.jpg", class: "webform_theme", data: {theme: "webform_2"} %>
				<%= image_tag "form_previews/klickrr_form_3.jpg", class: "webform_theme", data: {theme: "webform_3"} %>
				<%= image_tag "form_previews/klickrr_form_4.jpg", class: "webform_theme", data: {theme: "webform_4"} %>
				<%= image_tag "form_previews/klickrr_form_5.jpg", class: "webform_theme", data: {theme: "webform_5"} %>
				<%= image_tag "form_previews/klickrr_form_6.jpg", class: "webform_theme", data: {theme: "webform_6"} %>
				<%= image_tag "form_previews/klickrr_form_7.jpg", class: "webform_theme", data: {theme: "webform_7"} %>
				<%= image_tag "form_previews/klickrr_form_8.jpg", class: "webform_theme", data: {theme: "webform_8"} %>
				<%= image_tag "form_previews/klickrr_form_9.jpg", class: "webform_theme", data: {theme: "webform_9"} %>
				<%= image_tag "form_previews/klickrr_form_10.jpg", class: "webform_theme", data: {theme: "webform_10"} %>
				</div>
			  </div>
			</div>			
		</div>

		<!--div class="col-md-4">
			<p class="lead">Options</p>
			<div class="form-group">
				<label for="">Label:</label>
				<input type="text" name="" id="" class="form-control" />
				<label for="">Name:</label>
				<input type="text" name="" id="" class="form-control" />
				<label for="">Type:</label>
				<select name="" id="" class="form-control">
					<option value="">Text</option>
					<option value="">Select</option>
					<option value="">Checkbox</option>
					<option value="">Radio</option>
				</select>
				<label for="">Value:</label>
				<input type="text" name="" id="" class="form-control" />
				<input type="checkbox" name="" id="">&nbsp;Required?
			</div>
		</div>

		<div class="col-md-6">
			<p class="lead">Preview</p>
			<div class="form_preview">
				<div id="form_container">
					<div id="form_header_container">
						<h1 id="form_header" class="editable">This is the header.</h1>
					</div>
					<div><input type="text" name="form_field_" id="form_field_" class="klickrr_text_field editable" placeholder="webform text field" /></div>
					<div><input type="text" name="form_field_" id="form_field_" class="klickrr_text_field editable" placeholder="webform text field" /></div>
					<div class="editable"><button id="klickrr_submit">Submit</button></div>
					<div class="form_powered_by editable"><small>Powered by <a href="http://www.klickrr.com">Klickrr</a>.</small></div>
					<div id="form_footer_container" class="editable">
						<h2 id="form_footer">This is the footer.</h2>
					</div>
				</div>
			</div>
		</div-->
		<div class="col-md-9">
			<h2>Select a List To Build a Form For</h2>
			<form action="" class="form-inline">
				<div class="form-group">
					<select name="sel_webform_lists" id="sel_webform_lists" class="form-control sel-lists" style="margin: 15px 0 15px 0;">
						<option>Select a contact list...</option>
					</select>
					<input type="text" name="webform_name" id="webform_name" class="form-control" placeholder="form name"/>
				</div>
			</form>
			<div class='fb-main'></div>
		</div>
	</div>
</div>