<% if @values.present? %>
<div class="col-md-9">
<div class="row">
<div class="col-md-2 col-sm-2">
<div class="analytic_header centered">Opens</div>
<div class="centered analytic_data" id="analytics_opens"<% _slim_codeattributes1 = ("background-color: white;"); if _slim_codeattributes1; if _slim_codeattributes1 == true %> style=""<% else %> style="<%= _slim_codeattributes1)) %>"<% end; end %>><%= @values[:opens] %>
</div></div><div class="col-md-2 col-sm-2">
<div class="analytic_header centered">Clicks</div>
<div class="centered analytic_data" id="analytics_clicks"<% _slim_codeattributes2 = ("background-color: lightgray"); if _slim_codeattributes2; if _slim_codeattributes2 == true %> style=""<% else %> style="<%= _slim_codeattributes2 %>"<% end; end %>><%= @values[:clicks] %>
</div></div><div class="col-md-2 col-sm-2">
<div class="analytic_header centered">CTR</div>
<div class="centered analytic_data" id="analytics_ctr"<% _slim_codeattributes3 = ("background-color: white;"); if _slim_codeattributes3; if _slim_codeattributes3 == true %> style=""<% else %> style="<%= _slim_codeattributes3 %>"<% end; end %>><%= "#{@values[:ctr]}%" %>
</div></div><div class="col-md-2 col-sm-2">
<div class="analytic_header centered">Sent</div>
<div class="centered analytic_data" id="analytics_sends"<% _slim_codeattributes4 = ("background-color: lightgray"); if _slim_codeattributes4; if _slim_codeattributes4 == true %> style=""<% else %> style="<%= _slim_codeattributes4 %>"<% end; end %>><%= @values[:sends] %>
</div></div><div class="col-md-4">
<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Delivered</td>
<td id="delivered_cell"><%= @values[:delivers] %>
</td></tr><tr>
<td>Bounced</td>
<td id="bounced_cell"><%= @values[:bounces] %>
</td></tr><tr>
<td>Dropped</td>
<td id="dropped_cell"><%= @values[:drops] %>
</td></tr><tr>
<td>Unsubscribed</td>
<td id="unsubscribed_cell"><%= @values[:unsubscribes] %>
</td></tr><tr>
<td>Spam</td>
<td id="spam_cell"><%= @values[:spam] %>
</td></tr></tbody></table></div></div></div><div class="row analytics-details-section" id="geography_details_analytics">
<div class="col-md-7">
<%= geo_chart @values[:opens_country], width: "350px" %>
</div><div class="col-md-2">
<div class="table-responsive">
<table class="table" id="opens_table">
<thead>
<tr>
<th>Opens</th>
<th>
</th></tr><% @values[:opens_country_hash].each do |country, count|
 %><tr>
<th><%= country %>
</th><th><%= count %>
</th></tr><% end %></thead><tbody>
</tbody></table></div></div><div class="col-md-3">
<table class="table">
<% @values[:all_clicks_country].each do |link, values|
 %><thead>
<tr>
<th colspan="2"><%= link %>
</th><th>
</th></tr></thead><tbody>
<% values.each do |country, count|
 %><tr>
<td><%= country %>
</td><td><%= count %>

</td></tr><% end %></tbody><% end %></table></div></div><div class="row analytics-details-section" id="activity_details_analytics"<% _slim_codeattributes5 = ("display: none;"); if _slim_codeattributes5; if _slim_codeattributes5 == true %> style=""<% else %> style="<%= _slim_codeattributes5 %>"<% end; end %>>
<div class="col-md-12">
<%= line_chart @values[:graph], discrete: true, width: "100%", xtitle: "Time", ytitle: "Popularity" %>
<div class="col-md-6">
Opens Per User  
<%= pie_chart @values[:opens_unscr_spam] %>
</div><div class="col-md-6">
Clicks Per User    
<%= pie_chart @values[:clicks_unscr_spam] %>

</div></div></div></div><% else
 %><div class="centered">
<p>
<strong>
Step 1:
</strong>Choose a List from the dropdown above.
</p><p>
<strong>
Step 2:
</strong>Choose a Broadcast or Follow up from the list view in the left sidebar.
</p>
</div><% end %>
