.row
  .col-md-12
    .col-md-4
      = link_to 'CANCEL', 'javascript:void(0)', class: 'btn btn-info btn-lg btn-grey', id: 'webform_cancel_btn'
      = link_to 'PREVIOUS', 'javascript:void(0)', class: 'btn btn-info btn-lg btn-grey', id: 'webform_previous_step_btn', display: 'none'
    .col-md-4.pull-right.text-right
      = link_to 'NEXT', 'javascript:void(0)', class: 'btn btn-info btn-lg', id: 'webform_next_step_btn', data: { :step_id => 1 }
      = link_to 'SAVE & EXIT', '#webform_list', class: 'btn btn-warning btn-lg', id: 'webform_save_btn', data: { toggle: 'tab' },  aria: { controls: 'settings' }, role: 'tab'
