- upload_btn ||= false
- name_underscored = tag_name.gsub(' ', '_')

.row.webform_field_texts_container [id="webform_field_texts_#{field_id}"
                                    data= {field_id: "##{field_id}",
                                           field_template_id: "#webform_field_template_#{field_id}"}]
  .col-md-3
    = text_field_tag "webform_field_label_text_#{field_id}",
                     tag_name.split.map(&:capitalize).join(' '),
                     class: 'webform-input form-control webform-field-label-text webform-label',
                     data: {default_label: tag_name.split.map(&:capitalize).join(' ')}
  .col-md-6
    = text_field_tag "webform_field_placeholder_#{field_id}",
                     placeholder,
                     class: 'webform-input form-control webfrom-field-placeholder-text',
                     data: {default_placeholder: placeholder}
  .col-md-3
    - if upload_btn
      .row
        .col-md-2
          = 'or'
        .col-md-10
          = link_to 'UPLOAD', 'javascript:void(0)', class: 'btn btn-info btn-lg', id: 'webform_style_upload_image'
