- add_require ||= false
- sortable ||= false
- hidden ||= false
- name_underscored = tag_name.gsub(' ', '_')
- template ||= 'text'

.row.webform-field-container[id="#{field_id}"
                             class=(sortable ? 'sortable' : '')
                             class=(hidden ? 'webform-hidden-field' : '')
                             class="webform_field_container_for_#{name_underscored}"
                             data={ template: template,
                                    field_name: name_underscored,
                                    field_template_id: "#webform_field_template_#{field_id}",
                                    texts_id: "#webform_field_texts_#{field_id}" }]
  .col-md-3
    label.webform-label.webform-item-name-label
      = tag_name
  .col-md-3
      = check_box_tag "webform_field_switch_#{field_id}", true, true, class: "webform-checkbox #{'webform_field_switch_sortable' if sortable}"
  .col-md-6
    - if add_require
      .row.required-and-arrows
        .col-md-4
          label.webform-label
            | Required?
        .col-md-4
          = check_box_tag "webform_field_required_switch_#{field_id}", true, false, class: 'webform-checkbox'
        .col-md-4
          = link_to '∨', 'javascript:void(0)', class: 'btn btn-info webform-field-down'
          = link_to '∧', 'javascript:void(0)', class: 'btn btn-info webform-field-up'
