.row
  .panel.panel-default
    .panel-body.hidden-code-panel style=("display: none;")
      .panel.panel-default
        .panel-heading
          button.close.pull-right.close-panel data-dismiss="panel"  ×
          h3.panel-title Form Elements
        .panel-body style=("max-height: 250px; overflow-x: hidden; overflow-y: scroll;")
          code#generated_form_div
    .owerflow-scroll
      form#webform_preview data={ default_style: 'width: 100%; min-height: 500px; border-radius: 8px; text-align: center;' }
        ul#form_elements
