.row.text-center
  .col-md-12
    .row
      .col-md-4
        = link_to 'STEP ONE: SETTINGS', 'javascript:void(0)', class: 'btn btn-info btn-block btn-lg', id: 'status_step_1'
      .col-md-4
        = link_to 'STEP TWO: STYLE', 'javascript:void(0)', class: 'btn btn-info btn-block btn-lg btn-grey', id: 'status_step_2'
      .col-md-4
        = link_to 'STEP THREE: PUBLISH', 'javascript:void(0)', class: 'btn btn-info btn-block btn-lg btn-grey', id: 'status_step_3'
    hr.webform-hr
