#step_3
  .row.text-center
    .col-md-8.col-md-offset-2
      form#webform_step3_presets
        .row
          .col-md-12.webform-label Choose Demensions For Your Form
        .row.no-padding
          .col-md-6
            .col-md-6
              .col-md-4.webform-label Width
              .col-md-7
                input#webform_width.webform-input.text-center type='number' min='0'
            .col-md-6
              .col-md-5.webform-label X Height
              .col-md-6
                input#webform_height.webform-input.text-center type='number' min='0'
          .col-md-5
            .col-md-1.color-gray.webform-label or
            .col-md-7.webform-label Adjust Automatically
            .col-md-4
              = check_box_tag 'webform_form_adjust_automatically', true, false, class: 'webform-checkbox'
          .col-md-1
            i.fa.fa-info-circle.fa-2x
        .row
          .col-md-12
            hr.webform-hr
        .row
          .col-md-9.webform-label Do You Want Leads To Double Confirm Their Subscription?
          .col-md-2
            = check_box_tag 'webform_form_double_confirm_subscription', true, false, class: 'webform-checkbox'
          .col-md-1
            i.fa.fa-info-circle.fa-2x
        .row#webform_customize_email_row
          .col-md-9.webform-label Do You Want To Customize The Confirmation Email?
          .col-md-3
            = link_to 'EDIT EMAIL', 'javascript:void(0)',
                                    class: 'btn btn-info btn-block',
                                    id: 'webform_customize_email',
                                    data: { target: '#webform_customize_email_modal', toggle: 'modal' }
            #webform_customize_email_modal.modal.fade role="dialog"
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close data-dismiss="modal" type="button"  ×
                    h4.modal-title Enter custom email message:
                  .modal-body
                    = text_area_tag :webform_custom_email_text, nil, rows: "10", class: 'webform-input'
                  .modal-footer
                    button.btn.btn-default data-dismiss="modal" type="button"  Close
        .row
          .col-md-12
            hr.webform-hr
        .row
          .col-md-12.webform-label All Done? Click Below To Get Your Completed Form Code..
        .row
          .col-md-8.col-md-offset-2
            = link_to 'GENERATE FORM CODE', 'javascript:void(0)', class: 'btn btn-warning btn-block btn-lg', id: 'webform_generate_form_code'
        .row
          .col-md-12
            hr.webform-hr
      #webform_step3_html_code
        .row
          .col-md-12
            = text_area_tag :webform_generated_form_code, nil, rows: "10", class: 'webform-input'
        .row
          .col-md-12.pull-right
            = link_to 'COPY CODE', 'javascript:void(0)', class: 'btn btn-warning btn-lg pull-right', id: 'webform_copy_form_code'
        .row
          .col-md-12
            hr.webform-hr
