#step_2
  .row
    .col-md-7
      .row
        .col-md-4
          = link_to 'FIELDS', 'javascript:void(0)', class: 'btn btn-info btn-block btn-lg', id: 'webform_style_tab_fields'
        .col-md-4
          = link_to 'TEXT', 'javascript:void(0)', class: 'btn btn-info btn-block btn-lg btn-grey', id: 'webform_style_tab_text'
        .col-md-4
          = link_to 'COLORS', 'javascript:void(0)', class: 'btn btn-info btn-block btn-lg btn-grey', id: 'webform_style_tab_colors'
      hr.webform-hr
      .webform_style_tabs.webform_style_tab_fields
        .row
          .col-md-1
            i.fa.fa-info-circle.fa-2x
          .col-md-11
            label.webform-label Adjust Fields Below As Needed, Then Click 'Text' Above..
        .row
          .col-md-12
            form#webform_fields_container
              = render 'webform/fields_item', tag_name: 'headline', template: 'p_break', field_id: 'c0'
              = render 'webform/fields_item', tag_name: 'image', template: 'image', field_id: 'c1'
              = render 'webform/fields_item', tag_name: 'name', add_require: true, sortable: true, field_id: 'c2'
              = render 'webform/fields_item', tag_name: 'last name', add_require: true, sortable: true, field_id: 'c3'
              = render 'webform/fields_item', tag_name: 'email', add_require: true, sortable: true, field_id: 'c4'
              = render 'webform/fields_item', tag_name: 'phone', add_require: true, sortable: true, field_id: 'c5'
              = render 'webform/fields_item', tag_name: 'custom', add_require: true, sortable: true, field_id: 'c6'
              = render 'webform/fields_item', tag_name: 'button', template: 'button', hidden: true, field_id: 'c7'

      .webform_style_tabs.webform_style_tab_text
        .row
          .col-md-1
            i.fa.fa-info-circle.fa-2x
          .col-md-11
            label.webform-label Adjust Fields Below As Needed, Then Click 'Color' Above..
        .row
          .col-md-12
            form#webform_texts_container
              = render 'webform/edit_text_item', tag_name: 'headline', placeholder: 'This Is The Headline For Your Form', field_id: 'c0'
              = render 'webform/edit_text_item', tag_name: 'image', placeholder: 'Paste Image URL Here..', upload_btn: true, field_id: 'c1'
              = render 'webform/edit_text_item', tag_name: 'name', placeholder: 'Enter Your First Name Here..', field_id: 'c2'
              = render 'webform/edit_text_item', tag_name: 'last name', placeholder: 'Enter Your Last Name Here..', field_id: 'c3'
              = render 'webform/edit_text_item', tag_name: 'email', placeholder: 'Enter Your Email Here..', field_id: 'c4'
              = render 'webform/edit_text_item', tag_name: 'phone', placeholder: 'Enter Your Phone Here..', field_id: 'c5'
              = render 'webform/edit_text_item', tag_name: 'custom', placeholder: 'Enter Custom Field Text Here..', field_id: 'c6'
              = render 'webform/edit_text_item', tag_name: 'button', placeholder: 'Your Call To Action Here..', field_id: 'c7'
      .webform_style_tabs.webform_style_tab_colors
        .row
          .col-md-1
            i.fa.fa-info-circle.fa-2x
          .col-md-11
            label.webform-label Adjust Colors Below As Needed, Then Click 'Next' At Bottom Right..
        .row
          .col-md-12
            form#webform_styles_container
              .row
                .col-md-3
                  label.webform-label Select Item
                .col-md-9
                  select#webform_styles_item_select.webform-input
              .row
                .col-md-3
                  label.webform-label Select Attribute
                .col-md-9
                  = select_tag "webform_styles_item_attribute_select", options_for_select([ "background-color",
                                                                                            "color" ], "background-color"),
                                                                       class: 'webform-input'

              .row
                .col-md-3
                  label.webform-label Hex Code
                .col-md-9
                  = text_field_tag "webform_styles_hex_code", '', class: 'webform-input form-control'
              .row
                .col-md-5
                  .colorpickerplus-embed
                    #webform_palette.colorpickerplus-container
                .col-md-7
                  input#webform_wheel_colorpicker


    .col-md-5
      = render 'webform/preview'
