#step_1.text-center
  .row
    .col-md-8.col-md-offset-2
      .row
        .col-md-12
          label.webform-label Give Your Form A Name
          .col-md-11
            input#form_name.webform-input.form-control name="form_name" placeholder=("Enter Name Here..") type="text"
            hr.webform-hr
          .col-md-1
            i.fa.fa-info-circle.fa-2x
      .row
        .col-md-12
          label.webform-label Wich List Should Leads Be Added To?
          .col-md-11
            select#webform_list_selection.form-control.sel-lists.webform-input name="sel_webform_lists"
              option Select a contact list...
          .col-md-1
            i.fa.fa-info-circle.fa-2x
      .row
        .col-md-12
          .col-md-9
            label.webform-label Unsubscribe The Lead From Other Lists + Follow Up Sequence?
          .col-md-2
            = check_box_tag 'unsubscribe_other_lists', true, false, class: 'webform-checkbox'
          .col-md-1
            i.fa.fa-info-circle.fa-2x

      #webform_unsubscribe_lists.row
        .col-md-12.unsubscribe_list_container
          .col-md-11
            .input-group
              select#sel_webform_unsubscribe_list_1.form-control.sel-lists.webform-input name="sel_webform_unsubscribe_lists"
                option Select a contact list...
              span.input-group-btn
                button#add_unsubscribe_list.btn.btn-info type="button"
                  i.fa.fa-plus
          .col-md-1
            i.fa.fa-info-circle.fa-2x

      .row
        .col-md-12
          label.webform-label Enter Your Thank You Page URL
          .col-md-11
            input#redirect_url.webform-input.form-control name="redirect_url" type="text" placeholder="http://yoursite.com/thankyou"
            hr.webform-hr
          .col-md-1
            i.fa.fa-info-circle.fa-2x
