<!-- Let style be class.. -->
<%- width_100_pr = 'width: 95%;' %>
<%- webform_input = "#{width_100_pr} height: 50px; border-radius: 6px; border: none; font-size: 1.5em; text-align: center; margin-top: 10px; margin-buttom: 10px;" %>
<%- width_auto = 'width: auto;' %>


<script type="html/template" id="text_tmpl">
 <div class="el-div active" data-active="text">
   <span class="required-field" style="color: firebrick; display: none;"> *</span>
   <input type="text" name="untitled" id="untitled" class="webform-field" style="<%= webform_input %>" />
 </div>
</script>

<script type="html/template" id="text_options_tmpl">
 <div>
   <p><label>Type:</label> Text</p>
   <p><input type="checkbox" class="required-field-checkbox" /> Required?</p>
   <p><label>Label: </label><input type="text" placeholder="Untitled" class="form-control edit-text-label" /></p>
 </div>
</script>

<script type="html/template" id="paragraph_tmpl">
 <div class="el-div active" data-active="paragraph">
   <button class="btn btn-default btn-sm pull-right remove-el-btn"><i class="fa fa-times-circle-o"></i></button>
   <label for="untitled">Untitled</label><span class="required-field" style="color: firebrick; display: none;"> *</span><br/>
   <textarea name="untitled" id="untitled" cols="20" rows="5" class="webform-field"></textarea>
 </div>
</script>

<script type="html/template" id="paragraph_options_tmpl">
 <div>
   <p><strong>Type:</strong> Paragraph</p>
   <p><input type="checkbox" class="required-field-checkbox" class="form-control" /> Required?</p>
   <p><strong>Label: </strong><input type="text" placeholder="Untitled" class="form-control edit-text-label" /></p>
 </div>
</script>

<script type="html/template" id="checkbox_tmpl">
 <div class="el-div active" data-active="checkbox">
   <button class="btn btn-default btn-sm pull-right remove-el-btn"><i class="fa fa-times-circle-o"></i></button>
   <label for="untitled">Untitled</label><span class="required-field" style="color: firebrick; display: none;"> *</span><br/>
   <span class="checkboxes"></span>
 </div>
</script>

<script type="html/template" id="checkbox_options_tmpl">
 <div>
   <p><strong>Type:</strong> Checkboxes</p>
   <p><input type="checkbox" class="required-field-checkbox" /> Required?</p>
   <p><strong>Label: </strong><input type="text" placeholder="Untitled" class="form-control edit-text-label" /></p>
   <div class="input-group checkbox-editor">
       <span class="input-group-addon">
         <input type="checkbox" class="checkbox-default-val" aria-label="...">
       </span>
       <input type="text" class="form-control checkbox-option-text" aria-label="..." />
       <span class="input-group-btn">
         <button class="btn btn-default pull-right remove-checkbox-btn"><i class="fa fa-times-circle-o"></i></button>
       </span>
     </div>

     <div class="input-group checkbox-editor">
       <span class="input-group-addon">
         <input type="checkbox" class="checkbox-default-val" aria-label="...">
       </span>
       <input type="text" class="form-control checkbox-option-text" aria-label="..." />
       <span class="input-group-btn">
         <button class="btn btn-default pull-right remove-checkbox-btn"><i class="fa fa-times-circle-o"></i></button>
       </span>
     </div>

     <div class="input-group checkbox-editor">
       <span class="input-group-addon">
         <input type="checkbox" class="checkbox-default-val" aria-label="...">
       </span>
       <input type="text" class="form-control checkbox-option-text" aria-label="..." />
       <span class="input-group-btn">
         <button class="btn btn-default pull-right remove-checkbox-btn"><i class="fa fa-times-circle-o"></i></button>
       </span>
     </div>

     <button class="btn btn-default" id="add_checkbox_btn"><i class="fa fa-plus-square-o"></i>&nbsp;Add</button>

 </div>
</script>

<script type="html/template" id="checkbox_editor_tmpl">
 <div class="input-group checkbox-editor">
     <span class="input-group-addon">
       <input type="checkbox" class="checkbox-default-val" aria-label="...">
     </span>
     <input type="text" class="form-control checkbox-option-text" aria-label="..." />
     <span class="input-group-btn">
       <button class="btn btn-default pull-right remove-checkbox-btn"><i class="fa fa-times-circle-o"></i></button>
     </span>
   </div>
</script>

<script type="html/template" id="multiple_choice_tmpl">
 <div class="el-div active" data-active="multiple_choice">
   <button class="btn btn-default btn-sm pull-right remove-el-btn"><i class="fa fa-times-circle-o"></i></button>
   <label for="untitled">Untitled</label><span class="required-field" style="color: firebrick; display: none;"> *</span><br/>
   <span class="radios"></span>
 </div>
</script>

<script type="html/template" id="multiple_choice_options_tmpl">
 <div>
   <p><strong>Type:</strong> Multiple Choice</p>
   <p><input type="checkbox" class="required-field-checkbox" /> Required?</p>
   <p><strong>Label: </strong><input type="text" value="Untitled" class="form-control edit-text-label" /></p>
   <div class="input-group radio-editor">
       <span class="input-group-addon">
         <input type="radio" name="radio_group" value="" aria-label="...">
       </span>
       <input type="text" class="form-control radio-option-text" aria-label="..." />
       <span class="input-group-btn">
         <button class="btn btn-default pull-right remove-radio-btn"><i class="fa fa-times-circle-o"></i></button>
       </span>
     </div>

     <div class="input-group radio-editor">
       <span class="input-group-addon">
         <input type="radio" name="radio_group" value="" aria-label="...">
       </span>
       <input type="text" class="form-control radio-option-text" aria-label="..." />
       <span class="input-group-btn">
         <button class="btn btn-default pull-right remove-radio-btn"><i class="fa fa-times-circle-o"></i></button>
       </span>
     </div>

     <div class="input-group radio-editor">
       <span class="input-group-addon">
         <input type="radio" name="radio_group" value="" aria-label="...">
       </span>
       <input type="text" class="form-control radio-option-text" aria-label="..." />
       <span class="input-group-btn">
         <button class="btn btn-default pull-right remove-radio-btn"><i class="fa fa-times-circle-o"></i></button>
       </span>
     </div>

     <button class="btn btn-default" id="add_radio_btn"><i class="fa fa-plus-square-o"></i>&nbsp;Add</button>

 </div>
</script>

<script type="html/template" id="radio_editor_tmpl">
 <div class="input-group radio-editor">
     <span class="input-group-addon">
       <input type="radio" name="radio_group" value="" aria-label="...">
     </span>
     <input type="text" class="form-control radio-option-text" aria-label="..." />
     <span class="input-group-btn">
       <button class="btn btn-default pull-right remove-radio-btn"><i class="fa fa-times-circle-o"></i></button>
     </span>
   </div>
</script>

<script type="html/template" id="dropdown_tmpl">
 <div class="el-div active" data-active="dropdown">
   <button class="btn btn-default btn-sm pull-right remove-el-btn"><i class="fa fa-times-circle-o"></i></button>
   <label for="untitled">Untitled</label><span class="required-field" style="color: firebrick; display: none;"> *</span><br/>
   <select name="untitled" id="untitled" class="webform-field">
     <option value=""></option>
   </select>
 </div>
</script>

<script type="html/template" id="dropdown_options_tmpl">
 <div>
   <p><strong>Type:</strong> Dropdown</p>
   <p><input type="checkbox" class="required-field-checkbox" /> Required?</p>
   <p><strong>Label: </strong><input type="text" placeholder="Untitled" class="form-control edit-text-label" /></p>
   <div class="input-group select-editor">
       <span class="input-group-addon">
         <input type="radio" name="selected_group" value="" aria-label="...">
       </span>
       <input type="text" class="form-control dropdown-option-text" aria-label="..." />
       <span class="input-group-btn">
         <button class="btn btn-default pull-right remove-dropdown-btn"><i class="fa fa-times-circle-o"></i></button>
       </span>
     </div>

     <div class="input-group select-editor">
       <span class="input-group-addon">
         <input type="radio" name="selected_group" value="" aria-label="...">
       </span>
       <input type="text" class="form-control dropdown-option-text" aria-label="..." />
       <span class="input-group-btn">
         <button class="btn btn-default pull-right remove-dropdown-btn"><i class="fa fa-times-circle-o"></i></button>
       </span>
     </div>

     <div class="input-group select-editor">
       <span class="input-group-addon">
         <input type="radio" name="selected_group" value="" aria-label="...">
       </span>
       <input type="text" class="form-control dropdown-option-text" aria-label="..." />
       <span class="input-group-btn">
         <button class="btn btn-default pull-right remove-dropdown-btn"><i class="fa fa-times-circle-o"></i></button>
       </span>
     </div>

     <button class="btn btn-default" id="add_dropdown_btn"><i class="fa fa-plus-square-o"></i>&nbsp;Add</button>

 </div>
</script>

<script type="html/template" id="dropdown_editor_tmpl">
 <div class="input-group select-editor">
     <span class="input-group-addon">
       <input type="radio" name="selected_group" value="" aria-label="...">
     </span>
     <input type="text" class="form-control dropdown-option-text" aria-label="..." />
     <span class="input-group-btn">
       <button class="btn btn-default pull-right remove-dropdown-btn"><i class="fa fa-times-circle-o"></i></button>
     </span>
   </div>
</script>

<script type="html/template" id="break_tmpl">
 <div class="el-div active" data-active="break">
   <button class="btn btn-default btn-sm pull-right remove-el-btn"><i class="fa fa-times-circle-o"></i></button>
   <hr class="webform-field" />
 </div>
</script>

<script type="html/template" id="break_options_tmpl">
 Section Break
</script>

<script type="html/template" id="desc_tmpl">
 <div class="el-div active" data-active="desc">
   <button class="btn btn-default btn-sm pull-right remove-el-btn"><i class="fa fa-times-circle-o"></i></button>
   <p class="webform-field">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu euismod justo, a vulputate felis. Quisque rutrum consectetur metus ac fermentum. Morbi ut dolor non eros semper maximus. Praesent vel ex quis lectus rhoncus efficitur sit amet eget tellus.</p>
 </div>
</script>

<script type="html/template" id="desc_options_tmpl">
 <div>
   <p><strong>Type:</strong> Descriptive Text</p>
   <!--p><strong>Label: </strong><input type="text" id="edit_text_label" placeholder="Untitled" class="form-control" /></p-->
   <p><strong>Text:</strong><br/><textarea class="form-control" id="edit_descriptive_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu euismod justo, a vulputate felis. Quisque rutrum consectetur metus ac fermentum. Morbi ut dolor non eros semper maximus. Praesent vel ex quis lectus rhoncus efficitur sit amet eget tellus.</textarea></p>
 </div>
</script>

<script type="css/template" id="curr_form_style"></script>

<script type="html/template" id="image_tmpl">
  <div class="el-div active" data-active="image">
    <span class="required-field" style="color: firebrick; display: none;"> *</span>
    <%= image_tag 'gray_rect.png', class: 'webform-field', style: width_100_pr %>
  </div>
</script>

<script type="html/template" id="p_break_tmpl">
  <div class="el-div active" data-active="text">
    <span class="required-field" style="color: firebrick; display: none;"> *</span>
    <p type="text" name="untitled" id="untitled" class="webform-field">
      <label for="untitled">Untitled</label>
    </p>
    <hr class="webform-field" />
  </div>
</script>

<script type="html/template" id="button_tmpl">
  <div class="el-div active" data-active="text">
    <span class="required-field" style="color: firebrick; display: none;"> *</span>
    <button class="btn btn-default btn-large btn-block webform-field" style="<%= webform_input %>" type='submit'></button>
  </div>
</script>
