<div class="container">
	<div class="row">
		<div class="col-md-12">Subscription Form</div>
		<form action="" method="post">
		<% @fields.each do |field| %>
			<p><label for=""><%= field.label %></label><br/>
			<% case field.field_type %>
				<% when "text" %>
				<input type="text" id="<%= field.name %>" name="<%= field.name %>" />
				
				<% when "password" %>
				<input type="password" id="<%= field.name %>" name="<%= field.name %>" />

				<% when "paragraph" %>
				<textarea id="<%= field.name %>" name="<%= field.name %>"></textarea>

				<% when "checkbox" %>
				<input type="checkbox" id="<%= field.name %>" name="<%= field.name %>">&nbsp;<%= field.label %>

				<% when "radio" %>
				<input type="radio" id="<%= field.name %>" name="<%= field.name %>">&nbsp;<%= field.label %>

			<% end %>
			</p>
		<% end %>
		<button>Join today!</button>
		</form>
	</div>
</div>