<div class="container">
	<div class="row">
		<div class="col-md-12" style="text-align: center; margin-top: 50px;">
			<h1>You have been unsubscribed...</h1>
			<h2>...and we're sad to see you go.</h2>
			<h1><i class="fa fa-chain-broken"></i></h1>
		</div>
	</div>
</div>