<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Klickrr Login</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
  <style>
    .login-body{
      background-color:#394754;
      margin-top: 60px;
    }

    .signin {
      margin-top: 25px;
    }

    .logo-styles{
      display:block;
      margin-left:auto;
      margin-right:auto;
    }

    .subtitle-styles{
      color:white;
      font-size:15pt;
      font-weight:700;
      margin-top: 20px;
    }

    .logged-in-checkbox-styles{
      color:white;
      font-size:15pt;
      vertical-align:middle;
    }

    .login-card{
      max-width:500px;
      padding:40px 40px;
      background-color:#394754;
      margin:0 auto 25px;
      margin-top:50px;
      border-radius:2px;
      border:4px solid #3FB0C7;
      box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .login-card .profile-img-card{
      width:96px;
      height:96px;
      margin:0 auto 10px;
      display:block;
      border-radius:50%;
    }

    .login-card .profile-name-card{
      font-size:16px;
      font-weight:bold;
      text-align:center;
      margin:10px 0 0;
      min-height:1em;
    }

    .login-card .reauth-email{
      display:block;
      color:#404040;
      line-height:2;
      margin-bottom:10px;
      font-size:14px;
      text-align:center;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      box-sizing:border-box;
    }

    .login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button{
      height:44px;
      font-size:16px;
      width:100%;
      display:block;
      margin-bottom:10px;
      z-index:1;
      position:relative;
      box-sizing:border-box;
    }

    .login-card label{
      color:#000000;
    }

    .login-card .form-signin .form-control:focus{
      border-color:rgb(104, 145, 162);
      outline:0;
      -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
      box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }

    .login-card .btn.btn-signin{
      font-weight:700;
      height:36px;
      line-height:36px;
      font-size:14px;
      background:rgb(104, 145, 162);
      border-radius:3px;
      border:none;
      transition:all 0.218s;
      padding:0;
    }

    .login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus{
      background:rgb(12, 97, 33);
    }

    .login-card .forgot-password{
      color:rgb(104, 145, 162);
    }

    .login-card .forgot-password:hover, .login-card .forgot-password:active, .login-card .forgot-password:focus{
      color:rgb(12, 97, 33);
    }


    }
  </style>
</head>

<body class="login-body">
<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-0 logo-styles">
      <%= image_tag "Klickrr logo.png", class: "img-responsive logo-styles" %>
      <div class="row">
        <div class="col-md-12 center-text">
          <p class="text-center subtitle-styles">Log in to your account</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="login-card">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
    <%= f.email_field :email, autofocus: false, class: "form-control", placeholder: "Email address" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    <div class="checkbox">
      <div class="checkbox text-center logged-in-checkbox-styles">
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>&nbsp;Keep Me Logged In
        <% end %>
      </div>
    </div>
      <%= f.submit "Sign in", class: "btn btn-primary btn-block btn-lg btn signin" %>
      <!--<button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button>-->
  <% end %>
  <div style="width: 100%; padding-top: 10px;" class="text-center">
    <%= link_to "I've forgotten my password.", new_user_password_path, class: "forgot-password", style: "color: white; text-decoration: underline;" %>
  </div>
  <script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>





<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
  <!--<title>Klickrr</title>-->
  <!--<%#= stylesheet_link_tag    "application", media: "all" %>-->
  <!--<%#= csrf_meta_tags %>-->

  <!--<style>
    /*body { background-color: #394754; }*/
  </style>-->
<!--</head>-->
<!--<body>-->
  <!--<div class="container" style="margin-top: 100px;">-->
  <!--<div class="row">-->
    <!--<div class="col-md-6 container" style="text-align: right; color: #f5f5f5;">-->
      <!--<h2>Log in</h2>-->

      <!--<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
        <!--<div class="field">-->
          <%#= f.label :email %><br />
          <!--<%#= f.email_field :email, autofocus: true, class: "form-field", style: "color: darkgray;" %>-->
        <!--</div>-->

        <!--<div class="field">-->
          <%#= f.label :password %><br />
          <!--<%#= f.password_field :password, autocomplete: "off", class: "form-field", style: "color: darkgray;" %>-->
        <!--</div>-->

        <!--<%# if devise_mapping.rememberable? -%>-->
          <!--<div class="field">-->
            <!--<%#= f.check_box :remember_me %>-->
            <!--<%#= f.label :remember_me %>-->
          <!--</div>-->
        <!--<%# end -%>-->

        <!--<div class="actions">-->
          <!--<%#= f.submit "Log in", class: "btn btn-primary" %>-->
        <!--</div>-->
      <!--<%# end %>-->

      <!--<%#= render "devise/shared/links" %>-->
      <%#= link_to "Forgot your password?", new_user_password_path, style: "padding: 5px; color: white;" %><br/>
      <!--<%#= link_to "I don't have an account, but want to sign up!", new_user_registration_path, style: "padding: 5px; color: white;" %>-->
      <!--</div>-->
    <!--<div class="col-md-6" style="height: 600px;">-->
      <!--<%#= image_tag "Klickrr logo.png", style: "margin: auto 0;" %>-->
    <!--</div>-->
  <!--</div>-->
  <!--</div>-->
<!--</body>-->
<!--</html>-->