- if services_user.used == active
  - service = services_user.service
  li.list-group-item.ui-state-default.services-user[
    data-is-active="#{services_user.used}"
    data-id=services_user.id ]
    = semantic_form_for services_user do |f|
      .col-xs-7
        h4
          => service_label_with_icon(services_user)
          small.text-muted Server#1
        div
          | Use
          =>
          = f.input :limit, input_html: { max: service.limit, min: 0 }, wrapper_html: {class: 'inline'}, label: false
          | per send.
      .col-xs-5.pull-right.text-right
        .col-xs-12.fa.fa-sort
        /.col-xs-12= fa_icon 'sort'
        .col-xs-12 &nbsp;
        .col-xs-12
          span.badge>
            = service.sent_mails_from(current_user).this_month.count
          | sent, of
          =>
          => service.limit
          | available
