.tab-pane#services_rotation role='tabpanel'
  .row
    .col-xs-12
      h1 Rotation
  .row
    .col-xs-8
      .col-xs-12
        .panel.panel-default
          .panel-heading
            h3.panel-title Current service rotation
          .panel-body
            .panel.panel-default
              ul.list-group.sortable
                = render partial: 'partials/services_rotation/services_user',
                         collection: @services_users,
                         locals: { active: true }
        .panel.panel-default
          .panel-heading
            h3.panel-title Inactive services
          .panel-body
            .panel.panel-default
              ul.list-group.sortable
                = render partial: 'partials/services_rotation/services_user',
                         collection: @services_users,
                         locals: { active: false }
    - services_settings = current_user.services_settings
    .col-xs-4.services-settings
      .panel.panel-default
        .panel-heading
          h3.panel-title Services behavior
        .panel-body
          - UserServicesSetting.rotations.keys.each do |rotation|
            .radio
              label
                input[ type='radio' name='services_settings_rotation' data-name='rotation'
                       value=rotation
                       checked=(services_settings.rotation == rotation)
                     ]
                = t(".user_services_settings.rotations.#{rotation}")
      .panel.panel-default
        .panel-heading
          h3.panel-title Service consumed
        .panel-body
          .checkbox
            label
              input type='checkbox' data-name='autodeactivate' checked=services_settings.autodeactivate
              = t('.user_services_settings.autodeactivate')
