@mixin full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-triangle {
  @include full-center;

  float: left;
  background-color: #394754;
  width: 100px;
  height: 100px;
}

.welcome-message {
  @include full-center;

  flex-direction: column;
}

.dashboard-analytics-container {
  @include full-center;

  background-color: silver;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
}

.dashboard-analytics-inline {
  border-collapse: separate;
  border-spacing: 5px 10px;
}

.dashboard-analytics-inline-label {
  @include full-center;

  color: white;
  background-color: #394754;
  height: 50px;
  width: 200px;
  font-size: 15pt;
}

.dashboard-analytics-inline-data {
  font-size: 15pt;
  text-align: center;
  width: 100%;
  background-color: white;
}

.equal-height > [class*='col-'] {
  display: flex;
  flex: 1 1 auto;
}

.equal, .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}

.dashboard-analytics-box {
  position: relative;
  height: 80px;
  width: 80%;
  font-size: 15pt;
  margin: 8px 0 8px 0;
  text-align: center;
  background-color: white;
}

.dashboard-analytics-box-label {
  background-color: #394754;
  color: white;
  top: 0px;
  text-align: center;
  height: 25px;
}

.dashboard-analytics-box-data {
  margin-top: 15px;
}