// Place all the styles related to the spa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activate_service { padding: 10px; margin: 10px; border-top: 1px solid silver; border-bottom: 1px solid silver; }
.border-below { border-bottom: 1px solid silver; }
.border-above { border-top: 1px solid silver; padding: 10px; margin: 10px; }
.border-left { border-left: 1px solid silver; }
.border-right { border-right: 1px solid silver; }
.centered { text-align: center; }

.alert { margin-top: 20px; }

.btn-file {
  position: relative;
  overflow: hidden;
}

.edit-link {
  color: #428bca;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.btn-import {
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#loader { display: none; position: fixed; z-index: 999; top: 2%; right: 2%; border: 1px solid silver; background-color: lightgrey; opacity: 0.8; }

section#dash_broadcasts { margin-top: 25px; }

.factoid { border: 1px solid darkgray; background-color: #FAFAFA; text-align: center; }
.analytic_header { width: 100%; background-color: darkgray; }
.analytic_data { font-size: 2.25em; font-weight: bolder; height: 100%; }

.analytics-type-btn { width: 100%; margin-bottom: 20px; }
.analytics-sidebar-item { margin-bottom: 20px; }

/* .webform_template_images {
  width: 200px;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x:hidden;
} */

/* Form builder styles default */
.editable:hover { background-color: #E2C988; border: 3px dashed #B79756; }
#form_container { background-color: white; color: black; }
#form_header {}
.klickrr_text_field {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 38px;
    margin-top: 2px;
    font-weight: 500;
    background: none;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
}

.klickrr_text_field:focus {
  border-color: #1e9ce6;
  outline: 0;
}

.klickrr_select {}
.klickrr_checkbox {}
.klickrr_radio {}
#klickrr_submit {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #494d59;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #fcfcfc;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}

#klickrr_submit:active {
  background: #eee;
  border-color: #c3c3c3 #d1d1d1 #d8d8d8;
  background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}

#klickrr_submit:focus {
  outline: 0;
}

.form_powered_by { text-align: center; }

#dashboard_broadcast_lbl { padding-bottom: 10px; }

/* List overflow */
.list-scroll {
    /* background-color: #00FFFF; */
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}
/* END List overflow */

.incomplete-action { color: #d9534f; }
.completed-action { color: black; }

/* arrow box */
.arrow_box {
  position: relative;
  background: #c0c0c0;
}
.arrow_box:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(192, 192, 192, 0);
  border-bottom-color: #c0c0c0;
  border-width: 25px;
  margin-left: -25px;
}
.arrow_box:after {
  margin-top: -30px;
}
.arrow_box:before {
  margin-top: -36px;
}
/* END arrow box */

/* Rules for Growl-like notifications */
[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
}
/* END rules for Growl-like notifications */

.sub-count-style { background-color: silver; padding: 5px; margin: 10px 2px; border: 1px solid darkgray; }

/* .webform_theme { margin: 5px; -webkit-border-radius: 5px 10px 5px 10px; border-radius: 5px 10px 5px 10px; -webkit-box-shadow: 1px 1px 3px 1px #B8B8B8; box-shadow: 1px 1px 3px 1px #B8B8B8; }
.webform_theme:hover { box-shadow: none; -webkit-box-shadow: none; } */

/* Webform builder */
.element-btn { width: 100%; margin: 0 0 5px 0; }

.list-inline { white-space: nowrap; }

.sortable-li { cursor: grab; }

.theme-list { overflow-x:scroll; overflow-y:hidden; height:200px; width:100%; padding: 0 15px; }
.theme-item { padding:0; height:200px; }
.webform-theme { margin: 5px; -webkit-border-radius: 5px 10px 5px 10px; border-radius: 5px 10px 5px 10px; -webkit-box-shadow: 1px 1px 3px 1px #B8B8B8; box-shadow: 1px 1px 3px 1px #B8B8B8; }
.webform-theme:hover { box-shadow: none; -webkit-box-shadow: none; }

.panel-title-with-btn { height: 30px; }

ul { list-style-type: none; }
.el-div { width: 100%; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; padding: 10px; }
.checkbox-editor, .radio-editor, .select-editor { margin: 5px 0 5px 0; }

.webform-options { padding: 0 5px 0 0; }
/* End webform builder */

/* Segment manager styling */
.segment-type { width: 100%; padding: 10px 5px 10px 5px; }

// New Follow up integration.
/* New CSS */
.followup-type {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.followup-type-close:hover {
  cursor: pointer;
  color: firebrick;
}

.followup-type-icon {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #394754;
}

.followup-inner-border {
  border: 1px dashed white;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.followup-icon:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;

  font-size: 16pt;
}

.followup-icon-arrow {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #394754;
}

.followup-arrow:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;

  font-size: 16pt;
}

/* Hide the 'followup parts' dialog until we need it. */
#followup_parts { display: none; }
/* End hiding 'followup parts' */

/* Hide the 'delay X days' dialog until we need it. */
#delay_before_send { display: none; }
/* End hiding the 'delay X days' dialog until we need it. */

/* correct the odd alignment of the '.triggers' block. */
.triggers { margin-left: 25px; }

.followup-type-enabled:hover { background-color: #dddddd; }
.followup-type-active { background-color: #bbbbbb; }
.followup-type-disabled { color: #bbbbbb; }

.followup-icon-hover { background-color: #cc0000; }
/*.active-followup-icon:hover { background-color: #cc0000; }*/

/* Trigger text inputs. */
input.trigger-value { width: 30px; text-align: center; }
input.trigger-value.edit { background-color: lightgrey; border-top: 1px; border-left: 1px; border-right: 1px; border-bottom: 1px; }
input.trigger-value.view { border-top: 0px; border-left: 0px; border-right: 0px; border-style: solid; }
/* End trigger text inputs. */

/* End new CSS */
// End new follow up integration.

.service-fields{
  padding: 25px;
}

.modal_service_details_form input[type=text], .modal_service_details_form input[type=password]{
  width: 100%!important;
}

.bootstrap-switch-id-use_past_selection_switch {
  width: 265px;
}

.active-service-modal {
  .list-services {
    padding: 10px;

    li.list-service {
      padding: 0 10px 5px 10px;

      .btn {
        width: 100%;
        text-align: left;
      }
    }
  }
}

#broadcast {
  .schedule-info {
    .scheduled-date {
      margin-left: 15px;
      display: hidden;
    }
    .close {
      margin-top: 5px;
      display: hidden;
    }
  }

}

#broadcast_schedule {
  button.close {
    float: right;
  }
}

.import-contacts {
  display: inline-block;
  width: 47%;
}

.webform-lable {
  color: white;
  font-size: 21px;
  height: 40px;
  background: rgb(52, 73, 94);
  text-align: center;
  padding-top: 5px;
  font-weight: 400;
  margin: 5px;
  min-width: 339px;
}

.webform-entry {
  color: black;
  font-size: 21px;
  height: 40px;
  background: white;
  text-align: center;
  padding-top: 5px;
  font-weight: 400;
  margin: 5px;
  min-width: 106px;
}

.red-button {
  color: #fff;
  background-color: #EB2929;
  border-color: #EB2929;
}

.blue-button {
  color: #fff;
  background-color: #28C1CA;
  border-color: #28C1CA;
}

.webform-control-button {
  margin: 5px;
  width: 122px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
}

.webform-table-head {
  color: black;
  font-size: 19px;
  text-align: center;
  font-weight: 400;
  margin: 5px;
  min-width: 106px;
}

.webform-buttons-collection {
  text-align: center;
}
