.webform-label {
  font-weight: 200 !important;
  font-size: 1.5em;
  text-transform:capitalize;
}

.webform-input {
  width: 100%;
 border: none;
 background-color: white;
 border-radius: 5px;
 font-size: 1.5em;
 color: #32909a;
}

.webform-hr{
  size: 10px;
  border-top: 1px solid !important;
}

.btn-grey {
  color: #ffffff;
  background-color: #C4C4C4;
  border-color: #C5C5C7;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: #ffffff;
  background-color: #BABABA;
  border-color: #C5C5C7;
}

.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  background-image: none;
}

.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #C4C4C4;
  border-color: #C5C5C7;
}

.btn-grey .badge {
  color: #C4C4C4;
  background-color: #ffffff;
}

.wheelcolorpicker {
  width: 300px !important;
  height: 192px !important;
  border: none;
  background-color: #ffffff;
  box-shadow: none !important;
}

.webform-hidden-field {
  display: none;
}

.colorpickerplus-container {
  border: none;
}

#form_elements {
  padding: 20px;
}

.no-padding div{
  padding: 0px;
}

.color-gray {
  color: #C4C4C4;
}

.text-center {
  text-align: center;
}

.owerflow-scroll {
  overflow: auto;
}
