<div id="loader">
  <i class="fa fa-spinner fa-spin"></i><span id="loader_text">&nbsp;loading...</span>
</div>
<!--div class="row"-->
<!--div style="padding-top: 80px;"> </div-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--a class="navbar-brand" href="#">Klickrr</a-->
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Klickrr logo.png", :height => 25 %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "<< Back to app", root_path %></li>
        <li><a href="#" data-toggle="modal" data-target="#mod_tutorials_and_support">Tutorials</a></li>
        <li><a href="#" data-toggle="modal" data-target="#mod_tutorials_and_support">Support</a></li>
        <% if user_signed_in? %>
            <li role="presentation" class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle"><%= current_user.email %>&nbsp;<span class="caret"></strong></a>
              <div class="dropdown-menu dropdown-menu-right" style="padding: 15px; padding-bottom: 0px;">
                <!-- Profile editor -->
                <div class="container" style="padding-top: 30px; width: 800px;">
                  <h1 class="page-header">Edit Profile</h1>
                  <div class="row">
                    <!-- edit form column -->
                    <div class="col-md-12 col-sm-12 col-xs-12 personal-info">
                      </div-->
                      <h3>Personal info</h3>
                      <%= render "devise/registrations/edit" %>
                    </div>
                  </div>
                </div>
                <!-- End profile editor -->
              </div>
            </li>
        <% end %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6"><iframe src="https://player.vimeo.com/video/155124796?byline=0&portrait=0" width="500" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
    <div class="col-md-6"><iframe src="https://player.vimeo.com/video/155122733" width="500" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>