<!DOCTYPE html>
<html>
<head>
  <title>Klickrr</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js" type="text/javascript"></script>
  <%= javascript_include_tag "application" %>
  <script src="//cdn.ckeditor.com/4.5.7/full/ckeditor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/adapters/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= Gon::Base.render_data %>
  <%= favicon_link_tag %>
</head>
<body>
  <div class="container">
    <%#= render partial: "partials/flash_messages", flash: flash %>
    <%= yield %>
  </div>


  <!--script data-main="/assets/javascripts/main.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script-->
</body>
</html>
